// Основной контент
.catalog {
    margin-top: 12px;
    margin-left: 6px;
    margin-right: 6px;
    // Адаптив
    @media (min-width: $sm) {}
    // Medium devices (md)
    @media (min-width: $md) {
        margin-top: 16px;
        padding-left: 8px;
        padding-right: 8px
    }
    // Large devices (lg)
    @media (min-width: $lg) {}
    // X-Large devices (xl)
    @media (min-width: $xl) {}
    
    // XX-Large devices (xxl)
    @media (min-width: $xxl) {}
    
    // Обертка основного контента, по категориям
    .wrapper {
        padding-bottom:50px;
        border-bottom: 1px solid #9e9e9e;
        align-items: center;
        color: #2d2f43;
        flex-direction: row;
        position: relative;
        text-decoration: none;
        padding-bottom: 16px;
        padding-top: 16px;

        h3 {
            font-weight: 500;
            margin-bottom: .8888rem;
            margin-top: -6px;
            // Адаптив
            // Small devices (sm)
            @media (min-width: $sm) {}
            // Medium devices (md)
            @media (min-width: $md) {
                margin-top: -8px;
            }
            // Large devices (lg)
            @media (min-width: $lg) {}
            // X-Large devices (xl)
            @media (min-width: $xl) {}
            
            // XX-Large devices (xxl)
            @media (min-width: $xxl) {}
            
        }
            // Заголловок Контента и Картинки
            .subheader {
                font-size: 1.3333rem;
                margin-bottom: .8888rem;
                a {
                    color: #2d2f43;
                    font-weight: 400;
                    text-decoration: none;
                }
            }
            // Категории контента
            .categories {
                display: inline;
                column-count: 4;
                column-gap: 2em;

                // Адаптив
                // Small devices (sm)
                @media (min-width: $sm) {}
                // Medium devices (md)
                @media(min-width: $md) {
                    column-count: 1;
                }
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {
                    column-count: 3;
                }
                // контейнер с названием категории и его возможными товарами
                .list {
                    margin-bottom: 20px; 
                    break-inside: avoid-column;
                    // Заголовок названия категории
                    a.header_category {
                        color: $catalog;
                        font-weight: 600;
                        text-decoration: none;
                    }
                    ul{
                        margin-top: 10px;
                        li {                         
                            list-style: none;
                            // Название категории
                            a {
                                font-weight: 400;
                                color: #2d2f43;
                                text-decoration: none;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
    
        // Адаптив
        // Small devices (sm)
        @media (min-width: $sm) {
            padding: 24px 12px;
        }
        // Medium devices (md)
        @media (min-width: $md) {
            padding-bottom: 16px;
            padding-top: 16px
        }
        // Large devices (lg)
        @media (min-width: $lg) {}
        // X-Large devices (xl)
        @media (min-width: $xl) {}
        
        // XX-Large devices (xxl)
        @media (min-width: $xxl) {}

        
    }
}