// Основной контент
.catalog {
    margin-top: 12px;
    margin-left: 6px;
    margin-right: 6px;
    // Адаптив
    @media (min-width: 768px) {
        margin-top: 16px;
        padding-left: 8px;
        padding-right: 8px
    }
    // Обертка основного контента, по категориям
    .wrapper {
        padding-bottom:50px;
        border-bottom: 1px solid #9e9e9e;
        -ms-flex-align: center;
        align-items: center;
        color: #2d2f43;
        -ms-flex-direction: row;
        flex-direction: row;
        position: relative;
        text-decoration: none;
        padding: 24px 12px;

        h3 {
            -webkit-font-smoothing: antialiased;
            font-weight: 500;
            margin-bottom: .8888rem;
            margin-top: -6px;
            // Адаптив
            @media(min-width:768px) {
                margin-top: -8px;
            }
        }
            // Заголловок Контента и Картинки
            .subheader {
                font-size: 1.3333rem;
                margin-bottom: .8888rem;
                a {
                    color: #2d2f43;
                    font-weight: 400;
                    text-decoration: none;
                }
            }
            // Категории контента
            .categories {
                display: inline;
                -moz-column-count: 4;
                column-count: 4;
                -moz-column-gap: 2em;
                column-gap: 2em;

                // Адаптив
                @media(max-width:1299.9px) {
                        -moz-column-count: 3;
                        column-count: 3;
                }
                
                @media(max-width:991.9px) {
                        -moz-column-count: 2;
                        column-count: 2;
                }
                
                @media(max-width:767.9px) {
                        -moz-column-count: 1;
                        column-count: 1;
                }
                // контейнер с названием категории и его возможными товарами
                .list {
                    margin-bottom: 20px; 
                    break-inside: avoid-column;
                    // Заголовок названия категории
                    a.header_category {
                        color: $catalog;
                        font-weight: 600;
                        text-decoration: none;
                    }
                    ul{
                        margin-top: 10px;
                        li {                         
                            list-style: none;
                            // Название категории
                            a {
                                font-weight: 400;
                                color: #2d2f43;
                                text-decoration: none;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
    }
        // Адаптив
        @media(min-width:768px) {
            padding-bottom: 16px;
            padding-top: 16px
        }

        @media(min-width:768px) {
            padding-bottom: 16px;
            padding-top: 16px;
        }

        @media(max-width:575.9px) {
            padding-bottom: 16px;
            padding-top: 16px;
        }
}