.parent {
    margin-bottom: 1rem;
    position: relative;

    @media (max-width: 767.9px) {
            display: none;
    }

    .categories {
        padding: 21px 0 32px;

        .categories__list {
            height: 64px;
            overflow: hidden;

            .category {
                color: #3d3f56;
                cursor: pointer;
                display: inline-block;
                font-size: 14px;
                line-height: 18px;
                margin: 8px 32px 8px 0;
                text-decoration: none;

                &:first-child {
                    font-weight: 500;
                }
                &:focus,
                &:hover {
                    color: #ff7676;
                    outline: none;
                }

                &:focus .menu,
                &:hover .menu {
                    fill: #ff7676;
                }
            }

            .menu {
                margin-right: 7px;
            }
        }
    }
}