.top_categories {
    
    // Обертка для title
    .header_top_categories {
        display: flex;
        align-items: baseline;
        color: #2d2f43;
        margin-bottom: 16px;
        margin-top: 25px;

        // Название объекта
        .title {
            display: block;
            -ms-flex-positive: 1;
            flex-grow: 1;
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;


            // Адаптив

            // Small devices (sm)
            @media (min-width: $sm) {
                font-size: 20px;
                line-height: 24px;
            }
            // Medium devices (md)
            @media (min-width: $md) {
                font-size: 24px;
                line-height: 28px;
            }
            // Large devices (lg)
            @media (min-width: $lg) {}
            // X-Large devices (xl)
            @media (min-width: $xl) {}
            // XX-Large devices (xxl)
            @media (min-width: $xxl) {}
        }
    }

        // Маленькекая сетка изображений 
    .smallImageGrid { 
        position: relative;
        overflow-y: hidden;
        margin-left: -12px;
        margin-right: -12px;
        display: block;

        // Адаптив
        
        // Small devices (sm)
        @media (min-width: $sm) {}
        // Medium devices (md)
        @media (min-width: $md) {
            margin-left: -16px;
            margin-right: -16px;
        }
        // Large devices (lg)
        @media (min-width: $lg) {}
        // X-Large devices (xl)
        @media (min-width: $xl) {}
        // XX-Large devices (xxl)
        @media (min-width: $xxl) {}
        
        // контент
        .content {
            align-items: stretch;
            display: none;
            flex-wrap: nowrap;

            // Адаптив
            // Small devices (sm)
            @media (min-width: $sm) {}
            // Medium devices (md)
            @media (min-width: $md) {
                flex-direction: column;
                display: flex;
            }
            // Large devices (lg)
            @media (min-width: $lg) {}
            // X-Large devices (xl)
            @media (min-width: $xl) {}
            // XX-Large devices (xxl)
            @media (min-width: $xxl) {}

            // Деление на несколько блоков
            .block {
                display:flex;
                align-items: flex-start;
                flex-shrink: 0;
                justify-content: space-between;
                margin-top: 32px;
                flex-direction: row;
                margin-top: 0;
                margin-left: -12px;

                // Адаптив
                // Small devices (sm)
                @media (min-width: $sm) {}
                // Medium devices (md)
                @media (min-width: $md) {
                    margin-left: -16px;
                    flex-direction: none;
                }
                // Large devices (lg)
                @media (min-width: $lg) {}
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}
                

                // Подгружаемый одъект
                a.cell_block {
                    flex-basis: 160px;
                    width: 100px;
                    width: 90%;
                    padding: 0 12px;
                    overflow: hidden;
                    position: relative;
                    margin-top: 20px;

                    // Адаптив


                    // Small devices (sm)
                    @media (min-width: $sm) {
                        width: 100px;
                    }
                    // Medium devices (md)
                    @media (min-width: $md) {
                        margin-left: 12px;
                        padding: 0 16px;
                    }
                    // Large devices (lg)
                    @media (min-width: $lg) {}
                    // X-Large devices (xl)
                    @media (min-width: $xl) {}
                    // XX-Large devices (xxl)
                    @media (min-width: $xxl) {}

                    // Элемент
                    .item {
                        color: #2d2f43;
                        pointer-events: auto;
                        width: 100%;
                        &:hover .image {
                            transform: scale(1.05);
                            transition: transform .3s ease-in-out
                        }

                        // Контейнер иззображения 
                        .image_wrap {
                            border-radius: 50%;
                            box-sizing: border-box;
                            transform: translateZ(0);
                            width: 100%;
                            height: 130px;
                            background-color: #fff;
                            border: 1px solid #eff0f4;

                                // Изображение
                                .image {
                                    margin-top: 10%;
                                    background-repeat: no-repeat;
                                    display: inline-block;
                                    margin-top: 25%;
                                    height:60px;
                                    left: 0;
                                    position: absolute;
                                    top: 0;
                                    transition: transform .15s ease-in-out;
                                    transform-origin: center;
                                    width: 100%;
                                    @include contain;

                                    // Адаптив
                                    // Small devices (sm)
                                    @media (min-width: $sm) {}
                                    // Medium devices (md)
                                    @media (min-width: $md) {}
                                    // Large devices (lg)
                                    @media (min-width: $lg) {
                                        margin-top: 25%;
                                    }
                                    // X-Large devices (xl)
                                    @media (min-width: $xl) {}
                                    // XX-Large devices (xxl)
                                    @media (min-width: $xxl) {}
                                }
                        }

                        // Заголовок
                        .title {
                            display: block;
                            position: relative;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-height: 32px;
                            text-align: center;
                            font-size: 12px;
                            line-height: 14px;
                            margin-top: 12px;

                            // Адаптив
                            // Small devices (sm)
                            @media (min-width: $sm) {}
                            // Medium devices (md)
                            @media (min-width: $md) {
                                font-size: $textItem;
                                line-height: 16px;
                                margin-top: 16px;
                            }
                            // Large devices (lg)
                            @media (min-width: $lg) {}
                            // X-Large devices (xl)
                            @media (min-width: $xl) {}
                            // XX-Large devices (xxl)
                            @media (min-width: $xxl) {}
                            
                        }
                    }
                }


                // Может занести в нуть дива?
                .clickable {
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }

        .mobile_content {
            height: 200px;
            align-items: stretch;
            flex-wrap: nowrap;
            display: block;

            &::-webkit-scrollbar {
                display: none;
            }

            // Адаптив
            
            // Small devices (sm)
            @media (min-width: $sm) {}
            // Medium devices (md)
            @media (min-width: $md) {
                display: none;
            }
            // Large devices (lg)
            @media (min-width: $lg) {}
            // X-Large devices (xl)
            @media (min-width: $xl) {}
            // XX-Large devices (xxl)
            @media (min-width: $xxl) {}

            // Деление на несколько блоков
            .block {
                align-items: stretch;
                display: flex;
                flex-wrap: nowrap;
                margin-top: 32px;

                // Адаптив
                // Small devices (sm)
                @media (min-width: $sm) {}
                // Medium devices (md)
                @media (min-width: $md) {
                }
                // Large devices (lg)
                @media (min-width: $lg) {}
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}
                

                // Подгружаемый одъект
                a.cell_block {
                    flex-basis: 160px;
                    padding: 0 12px;
                    position: relative;
                    height: 100%;
                    width: 100%;
                    // Адаптив

                    // Small devices (sm)
                    @media (min-width: $sm) {}
                    // Medium devices (md)
                    @media (min-width: $md) {}
                    // Large devices (lg)
                    @media (min-width: $lg) {}
                    // X-Large devices (xl)
                    @media (min-width: $xl) {}
                    // XX-Large devices (xxl)
                    @media (min-width: $xxl) {}

                    // Элемент
                    .item {
                        color: #2d2f43;
                        pointer-events: auto;
                        width: 100px;
                        height: 100px;
                        &:hover .image {
                            transform: scale(1.05);
                            transition: transform .3s ease-in-out
                        }

                        // Контейнер иззображения 
                        .image_wrap {
                            border-radius: 50%;
                            width: 100%;
                            height: 100%;
                            background-color: #fff;
                            border: 1px solid #eff0f4;

                                // Изображение
                                .image {
                                    margin-top: 10%;
                                    background-repeat: no-repeat;
                                    display: inline-block;
                                    margin-top: 25%;
                                    height:50%;
                                    transition: transform .15s ease-in-out;
                                    transform-origin: center;
                                    width: 100%;
                                    @include contain;

                                    // Адаптив
                                    // Small devices (sm)
                                    @media (min-width: $sm) {}
                                    // Medium devices (md)
                                    @media (min-width: $md) {}
                                    // Large devices (lg)
                                    @media (min-width: $lg) {
                                        margin-top: 25%;
                                    }
                                    // X-Large devices (xl)
                                    @media (min-width: $xl) {}
                                    // XX-Large devices (xxl)
                                    @media (min-width: $xxl) {}
                                }
                        }

                        // Заголовок
                        .title {
                            display: block;
                            position: relative;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-height: 32px;
                            text-align: center;
                            font-size: 12px;
                            line-height: 14px;
                            margin-top: 12px;

                            // Адаптив
                            // Small devices (sm)
                            @media (min-width: $sm) {}
                            // Medium devices (md)
                            @media (min-width: $md) {
                                font-size: $textItem;
                                line-height: 16px;
                                margin-top: 16px;
                            }
                            // Large devices (lg)
                            @media (min-width: $lg) {}
                            // X-Large devices (xl)
                            @media (min-width: $xl) {}
                            // XX-Large devices (xxl)
                            @media (min-width: $xxl) {}
                            
                        }
                    }
                }


                // Может занести в нуть дива?
                .clickable {
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }

    }
}