// Обертка промостраницы
.promo_page {
    margin-top: 12px;

    // Адаптив
    
    // Small devices (sm)
    @media (min-width: $sm) {}
    // Medium devices (md)
    @media (min-width: $md) {
      margin-top: 16px;
    }
    // Large devices (lg)
    @media (min-width: $lg) {}
    // X-Large devices (xl)
    @media (min-width: $xl) {}
    // XX-Large devices (xxl)
    @media (min-width: $xxl) {}
  // Переходная часть
  .reducer {
    height: 350px;
    max-width: 1240px;
    border-radius: 8px;
    margin-bottom: 20px;

    .wrapper {
      display: block;
      overflow: hidden;
      position: relative;
      cursor: auto;
      
      // Текст блока
      .text_wrap {
        text-align: center;
        margin: 22% auto;
        width: 100%;
        display: grid;
        margin: $mc;
        padding: 0;
        
        // Адаптив

        // Small devices (sm)
        @media (min-width: $sm) {}
        // Medium devices (md)
        @media (min-width: $md) {
          display: block;
        }
        // Large devices (lg)
        @media (min-width: $lg) {}
        // X-Large devices (xl)
        @media (min-width: $xl) {}
        // XX-Large devices (xxl)
        @media (min-width: $xxl) {}
      }

      // Пробел
      .spacer {
        flex-grow: 1;
      }
      
      // Блок картинка
      // Обертка картинки
      .image_wrap {
        transition: transform .15s ease-in-out;
        transform-origin: center;
        width: 50%;
        margin: $mc;

        // Адаптив
    
        // Small devices (sm)
        @media (min-width: $sm) {}
        // Medium devices (md)
        @media (min-width: $md) {
          margin: 4% auto;
        }
        // Large devices (lg)
        @media (min-width: $lg) {}
        // X-Large devices (xl)
        @media (min-width: $xl) {}
        // XX-Large devices (xxl)
        @media (min-width: $xxl) {}

        // Сама картинка
        img.img {
          background-repeat: no-repeat;
          display: inline-block;
          height: 100%;
          width: 100%;
          @include contain;
        }
      }
    }
  }
}
