
.next,
.prev {
    background: rgba(0, 0, 0, 0.4) no-repeat;
    background-size: 25%;
    border-radius: 2rem;
    cursor: pointer;
    height: 3.44rem;
    margin-top: -1.72rem;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.44rem;
}

.next:hover,
.prev:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

@media(max-width:767.9px) {

    .next,
    .prev {
        bottom: 12px;
        margin-top: 0;
        top: auto;
    }
}


.prev {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNCAyNiI+PHBhdGggZD0iTS4zIDEyLjNsMTItMTJhMSAxIDAgMDExLjQgMCAxIDEgMCAwMTAgMS40TDIuNCAxM2wxMS4zIDExLjNhMSAxIDAgMDEtMS40IDEuNGwtMTItMTJhMSAxIDAgMDEwLTEuNHoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=);
    background-position: 45% 50%;
    left: 16px;

    &:after {
        border-right: 2px solid;
        border-top: 2px solid;
        box-sizing: border-box;
        content: "";
        display: block;
        height: 12px;
        transform-origin: center;
        width: 12px;
    }
}

@media(max-width:767.9px) {
    .prev {
        display: none;
    }
}

.next {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNCAyNiI+PHBhdGggZD0iTTEzLjcgMTMuN2wtMTIgMTJhLjkxLjkxIDAgMDEtLjcuMy45MS45MSAwIDAxLS43LS4zIDEgMSAwIDAxMC0xLjRMMTEuNiAxMyAuMyAxLjdBMSAxIDAgMDEuMy4zYTEgMSAwIDAxMS40IDBsMTIgMTJhMSAxIDAgMDEwIDEuNHoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=);
    background-position: 55% 50%;
    right: 16px;

    &:after {
        border-right: 2px solid;
        border-top: 2px solid;
        box-sizing: border-box;
        content: "";
        display: block;
        height: 12px;
        transform-origin: center;
        width: 12px;
    }
}

@media(max-width:767.9px) {
    .next {
        display: none;
    }
}