// Элементка каталога
.catalog_item {
  align-items: center;
  color: #2d2f43;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  position: relative;
  text-decoration: none;
  padding-bottom: 24px;
  padding-top: 24px;
  // элемент 
  .cardInner {
    padding-bottom: 12px;
    padding-top: 12px;
    // Адаптив
    
    // Small devices (sm)
    @media (min-width: $sm) {}
    // Medium devices (md)
    @media (min-width: $md) {
      padding: 16px 0;
    }
    // Large devices (lg)
    @media (min-width: $lg) {}
    // X-Large devices (xl)
    @media (min-width: $xl) {}
    // XX-Large devices (xxl)
    @media (min-width: $xxl) {}
    // Текст
    h4 {
      // Картинка
      img.image {
        background-repeat: no-repeat;
        display: inline-block;
        height: 4.8888rem;
        margin-bottom: .8888rem;
        width: 6rem;
        @include contain;
      }
      // Ссылка
      .link {
        color: #000000;
        font-weight: 500;
        text-decoration: none
      }
    }
    // Наследуемый объект в него вложен catalog_item
    .children {
      column-count: 4;
      column-gap: 4em;
      display: flex;

      //  Адаптив
      
      // Small devices (sm)
      @media (min-width: $sm) {}
      // Medium devices (md)
      @media (min-width: $md) {
        column-count: 1;
        column-gap: 0;
      }
      // Large devices (lg)
      @media (min-width: $lg) {}
      // X-Large devices (xl)
      @media (min-width: $xl) {}

      // XX-Large devices (xxl)
      @media (min-width: $xxl) {}

    }
  }
}