// Элементка каталога
.catalog_item {
  align-items: center;
  color: #2d2f43;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  position: relative;
  text-decoration: none;
  padding-bottom: 24px;
  padding-top: 24px;
  // элемент 
  .cardInner {
    padding-bottom: 12px;
    padding-top: 12px;

    @media(min-width:768px) {
        padding-bottom: 16px;
        padding-top: 16px;
    }
    // Текст
    h4 {
      // Картинка
      img.image {
        background-repeat: no-repeat;
        display: inline-block;
        height: 4.8888rem;
        margin-bottom: .8888rem;
        width: 6rem;
        @include contain;
      }
      // Ссылка
      .link {
        color: #000000;
        font-weight: 500;
        text-decoration: none
      }
    }
    // Наследуемый объект в него вложен catalog_item
    .children {
      column-count: 4;
      column-gap: 2em;
    }
  }
}