.my_order {
    margin: 0 2%;
    .top_order {
        display: flex;
        justify-content: space-between;
        padding: 1rem .8889rem;

        .text_order {
            color: #9697a1;
            margin-right: 0.4445rem;
            font-size: 12px;
        }

        .content_buttom {
            display: flex;
            color: rgb(255, 255, 255);
            background-color: rgb(178, 179, 194);
            border-radius:3px;
            font-size: 12px;
            padding: 0.1222rem 0.8667rem 0.1778rem;
        }
    }

    .orderLayout {
        display: flex;
        font-size: .7777rem;
        line-height: 1.1111rem;
        padding: .8888rem;

        @media(max-width:575.9px) {
            flex-direction: column;
        }

        .left {
            display: flex;
            flex-basis: 35%;
            flex-shrink: 0;
            margin-right: .4444rem;

            @media(max-width:575.9px) {
                flex-basis: auto;
            }

            a.img {
                background: none;
                border: none;
                box-shadow: none;
                padding: 0;
                border-radius: .2222rem;
                cursor: pointer;
                flex-shrink: 0;
                height: 5.55555rem;
                margin: 0 .8888rem 0 0;
                overflow: hidden;
                position: relative;
                width: 5.55555rem;

                &:after {
                    background-color: rgba(0, 0, 0, .04);
                    content: "";
                    display: block;
                    height: 100%;
                    left: 0;
                    pointer-events: none;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }

                img.image_order {
                    background-repeat: no-repeat;
                    display: inline-block;
                    @include contain;
                }
            }
        }
    }

    .delivery_addresses {
        margin: 2%;
        .top_adresses {
            display: flex;
            justify-content: space-between;
            font-size: .7777rem;

            .button_adresses_edit {
                color: $mainColor;
            }
            
        }

        .content_delivery_address {
            font-size: 14px;
            margin-top: 8px;
        }
    }
    
    .parcel_page_card_inner {
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 0.8888rem;
        margin: 0 2%;
        font-size: 14px;
    }

    .parcel_page_card_inner {
        font-size: .7778rem;
        font-weight: 600;
    }

    .info_address_order {
        align-items: center;
        color: #2d2f43;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        position: relative;
        text-decoration: none;
        padding-bottom: 24px;
        padding-top: 24px;

        .empty {
            margin: 1rem 0;
            opacity: .5;
            text-align: center;

            .empty_text {
                color: #9697a1;
                font-size: .8333em;
                line-height: 1.3;
                margin: 1em auto;
                max-width: 23em;
                position: relative;
            }
        }
    }

    .cancel_order {
        display: flex;
        justify-content: center;
        color:$mainColor;
    }

    .product_big {
        margin: 0 2%;

        .small_header {
            font-weight: 500;
            font-size: 12px;
        }
    }
}

.additional_info {
    .support_header {
        font-weight: 500;
    }
    
    .support_service {
        width: 100%;
        padding: 0.735em 1em;
        background: none;
        border: 1px solid;
        color: #ff7676;
        border-radius: 10px;
    }
    
    .follow_parcel {
        font-size: .7778rem;
        font-weight: 500;
    
    
        .map {
            position: relative;
            height: 192px;
            padding-top: 100%;
            &:after {
                background: rgba(0, 0, 0, .02);
                content: "";
                height: 100%;
                left: 0;
                pointer-events: none;
                position: absolute;
                top: 0;
                user-select: none;
                width: 100%;
            }
            
            .square {
                border-radius: inherit;
                bottom: 0;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
    
                .iframe {
                    background: #fff;
                    border: none;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    width: 100%
                }
            }
        }
    }

    .info_address {
        margin: 0 2%;
        .info {
            color:$grey;
            margin-top: 1%;
        }

        .street {
            margin-top: 1%;
            font-weight: 600;
        }
    }
}