// Заказать фильтры
.order_filteres {
    margin-top: 48px;
    padding-bottom: 48px;

    // Адаптив
    
    // Small devices (sm)
    @media (min-width: $sm) {
        padding: 0 6px;
    }
    // Medium devices (md)
    @media (min-width: $md) {
        margin-top: 64px;
        padding: 0 8px;
    }
    // Large devices (lg)
    @media (min-width: $lg) {}
    // X-Large devices (xl)
    @media (min-width: $xl) {}
    // XX-Large devices (xxl)
    @media (min-width: $xxl) {}

    // Контент
    .content {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        min-height: 1px;
        position: relative;
        width: 100%;
        max-width: 100%;
        text-align: center;
        // Адаптив
        
        // Small devices (sm)
        @media (min-width: $sm) {
            padding: 0 6px;
        }
        // Medium devices (md)
        @media (min-width: $md) {
            padding: 0 8px;
        }
        // Large devices (lg)
        @media (min-width: $lg) {
        }
        // X-Large devices (xl)
        @media (min-width: $xl) {
        }
        // XX-Large devices (xxl)
        @media (min-width: $xxl) {}

        // Вывод
        h1 {
            font-weight: 500;
            margin: $mc;
            max-width: 80%;
            position: relative;
            width: 30rem;
            font-size: 1.2rem;
            width: 20rem;

            // Адаптив
            
            // Small devices (sm)
            @media (min-width: $sm) {}
            // Medium devices (md)
            @media (min-width: $md) {
                width: 30rem;
                font-size: 1.3333rem;
            }
            // Large devices (lg)
            @media (min-width: $lg) {}
            // X-Large devices (xl)
            @media (min-width: $xl) {}
            // XX-Large devices (xxl)
            @media (min-width: $xxl) {}
        }
    }
}
