
.parcel_app_сard {
    background: #fff;
    border-radius: .5rem;

    // Адаптив
    @media(max-width:575.9px) {
        border-radius: 0;
        margin-left: -12px;
        margin-right: -12px;
    }

    .parcel_app_сard_inner {
        margin: 20px 10px;
        // Заголовок
        .header {
            -ms-flex-align: end;
            align-items: end;
            display: -ms-flexbox;
            display: flex;
            font-size: .7778rem;
            -ms-flex-pack: justify;
            justify-content: space-between;
            line-height: 1.1111rem;
            // Текст заголовок
            .header_text {
                -ms-flex-positive: 1;
                flex-grow: 1;
                margin-right: .8889rem;
                // Доставка
                .shipping_label {
                    color: #9697a1;
                    margin-right: .4445rem;
                    white-space: nowrap;
                }
            }
            // Значек
            .badge {
                font-size: .7222rem;
                line-height: .8333rem;
                padding: .2222rem .6667rem .2778rem;
                user-select: none;
                margin-left: .8889rem;
                background-color: #abadc3;
                border-radius: .1667rem;
                color: #fff;
                font-size: .7222rem;
                line-height: .8333rem;                    
                padding: .2222rem .6667rem .2778rem;
            }
        }
    }

    // Макет заказа
    .order_layout {
        display: -ms-flexbox;
        display: flex;
        font-size: .7777rem;
        line-height: 1.1111rem;
        padding: .8888rem;
        // Левая часть
        .left {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-preferred-size: 35%;
            flex-basis: 35%;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            margin-right: .4444rem;

            // Адаптив
            @media(max-width:575.9px) {
                flex-basis: auto;
            }
            // сслыка для картинки
            a.image {
                background: none;
                border: none;
                box-shadow: none;
                padding: 0;
                border-radius: .2222rem;
                cursor: pointer;
                -ms-flex-negative: 0;
                flex-shrink: 0;
                height: 5.55555rem;
                margin: 0 .8888rem 0 0;
                overflow: hidden;
                position: relative;
                width: 5.55555rem;
                // Картинка
                img.img {
                    background-repeat: no-repeat;
                    display: inline-block;
                    background-size: contain;
                    -o-object-fit: contain;
                    object-fit: contain;
                }
            }
        }
        // Заказ
        .order {
            display: block;
            // id заказа
            .orderId {
                display: block;
                font-size: 16px;
                font-weight: 500;
                line-height: 22px;
                text-decoration: underline;
                white-space: nowrap;
                text-decoration: none;
                color: $mainColor;
                &:hover  {
                    color: $hoverColor;
                }
            }

            // Мобильная часть
            .mobilePrice {
                display: none;
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.3333rem;
                margin-bottom: .5555rem;
                margin-right: .4444rem;

                // Адаптив
                @media(max-width:575.9px) {
                    display: block;
                }
            }
        }
        // Информация в центре
        .center {
            display: flex;
            flex-direction: column;
            -ms-flex-positive: 2;
            flex-grow: 2;
            -ms-flex-negative: 1;
            flex-shrink: 1;
            margin: 1.3889rem .4444rem 0;

            // Адаптив
            @media(max-width:575.9px) {
                display: none;
            }

            .date {
                margin-bottom: 5px;
                .date_label {
                    color: #9697a1;
                }

                .date_value {
                    color: #2d2f43;
                    margin-left: 4px;
                }
            }
        }
        
        // Правая часть
        .right {
            display: flex;
            flex-direction: column;
            flex-grow: 0;
            flex-shrink: 0;
            justify-content: center;
            margin-left: .4444rem;
            text-align: right;

            // Адаптив
            @media(max-width:575.9px) {
                margin-left: 0;
                margin-top: .8888rem;
            }

            // Цена
            .price {
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.3333rem;
                margin-bottom: .5555rem;
                margin-right: .4444rem;
                // Адаптив
                @media(max-width:575.9px) {
                        display: none;
                }
            }


            // Контейнер под кнопку
            .block_button {
                font-weight: 500;
                max-width: 14rem;
                // Адаптив
                @media(max-width:575.9px) {
                    max-width: none;
                }

                a.info_price {  
                    width: 100%;
                    display: flex;
                    padding: 5px;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    user-select: none;

                    background-color: $mainColor;
                    border: 1px solid #f3f3f5;
                    color: $white;
                }
            }
        }
        // Скрытый 
        .hidden {
            display: none;
        }
    }
}