// Способы оплаты
.payment_method {
    // Вкладка
    .tab {
        min-height: 100%;
        position: relative;
        display: block;
        margin-bottom: 8px;
        margin-right: 8px;
        // Адаптив

        // Small devices (sm)
        @media (min-width: $sm) {
            display: flex;
            margin: 0 15px 15px 0;
        }
        // Medium devices (md)
        @media (min-width: $md) {}
        // Large devices (lg)
        @media (min-width: $lg) {}
        // X-Large devices (xl)
        @media (min-width: $xl) {}
        // XX-Large devices (xxl)
        @media (min-width: $xxl) {}
        
        // Блок для обертки
        .block_payment {
            align-items: center;
            border: 1px solid rgba(0, 0, 0, 0.08);
            box-sizing: border-box;
            color: #2d2f43;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            height: 100%;
            min-height: 67px;
            min-width: 150px;
            outline: none;
            padding: 8px 20px;
            user-select: none;
            align-items: flex-start;
            text-align: left;
            justify-content: flex-start;

            // &:focus,
            // &:hover {
            //     border-color: $mainColor;
            //     color: $mainColor;
            // }
            // Элементы
            .child {
                margin: 1px 0;

                // Адаптив

                // Small devices (sm)
                @media (min-width: $sm) {
                    margin: 3px auto;
                    margin-top: 3px;
                }
                // Medium devices (md)
                @media (min-width: $md) {}
                // Large devices (lg)
                @media (min-width: $lg) {}
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}
            }
            // Иконка
            .icon {
                left: 30px;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);

                // Адаптив
                
                // Small devices (sm)
                @media (min-width: $sm) {  
                    align-items: center;
                    display: flex;
                    height: 23px;
                    justify-content: center;
                }
                // Medium devices (md)
                @media (min-width: $md) {}
                // Large devices (lg)
                @media (min-width: $lg) {}
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}
            }
            // Название
            .title {
                font-size: 14px;
                font-weight: 500;
                white-space: normal;

                // Адаптив
                
                // Small devices (sm)
                @media (min-width: $sm) {
                    white-space: nowrap;
                }
                // Medium devices (md)
                @media (min-width: $md) {}
                // Large devices (lg)
                @media (min-width: $lg) {}
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}
            }
            // Уведомление
            .notice {
                margin-top: 5px;
                color: #9697a1;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;

                // Адаптив
                
                // Small devices (sm)
                @media (min-width: $sm) {
                    white-space: nowrap;
                }
                // Medium devices (md)
                @media (min-width: $md) {}
                // Large devices (lg)
                @media (min-width: $lg) {}
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}
            }
            // Акцентирование
            .accent {
                color: $mainColor;
            }
        }
    }
}
