/*filter sorting area main styles*/
.filter-container{
     align-items: stretch;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     margin: -16px 0 0 -16px;
}

.filter-label-name{
     color: #9697a1;
     padding-right: 8px;
}
.filter-label-value{
     font-size: .7779rem;
     height: calc(1.7779rem - 2px);
}

/*filter search sorting buttons bootstrap*/
 .btn:hover{
     background-color: #f2f3f7
}
.btn-secondary {
     --bs-btn-bg: #f2f3f7;
}
.btn-secondary{
--bs-btn-color: black;
}
.btn-secondary{
     --bs-btn-border-color: none;
     --bs-btn-hover-bg: #f2f3f7;
}
.btn:hover{
     color: black;
}
.btn-check:active+.btn, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:active{
     background-color: #f2f3f7;
     color: #000;
}
.btn-check:focus+.btn, .btn:focus{
     box-shadow:none;
     color:black;
}
.btn-check:active+.btn:focus, .btn-check:checked+.btn:focus, .btn.active:focus, .btn.show:focus, .btn:active:focus{
     box-shadow:none
}
.dropdown-menu .input-group-text{
     background-color: white; 
     border: none;
}
.dropdown-menu{
     transform: translate3d(190px, 58px, 0px);
}	
.form-control{
     width: 90%;
}
.input-group-text{
     background-color: #f2f3f7;
     border:none;
}
.btn-light{
     background-color: #f2f3f7;
}
.btn-primary{
     --bs-btn-bg:#f2f3f7;
     --bs-btn-color:black;
     --bs-btn-border-color:none;
}
.btn-check:focus+.btn, .btn:focus{
     color: black;;
     background-color:  #f2f3f7;
     border-color: none;
} 

/*OffCanvas setup*/
.offcanvas{
     --bs-offcanvas-height: 80vh;
}

