/*filter sorting area main styles*/
.search_page-filter-container{
     align-items: stretch;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     margin: -16px 0 0 -16px;
}

.search_page_filter-label-name{
     color: #ffffff;
     /* padding-right: 8px; */
}
.search_page_filter-label-value{
     /* font-size: .7779rem;
     height: calc(1.7779rem - 2px); */
}

/*filter search sorting buttons bootstrap*/
/* .country .btn-primary{
     --bs-btn-bg:#f2f3f7;
     --bs-btn-color:black;
     --bs-btn-border-color:none;
} */

/* .country .btn-secondary{
     --bs-btn-bg: #f2f3f7;
}
.country .btn-secondary{
--bs-btn-color: black;
}
.country .btn-secondary{
     --bs-btn-border-color: none;
     --bs-btn-hover-bg: #f2f3f7;
}

.country .btn-check:active+.btn, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:active{
     background-color: #f2f3f7;
     color: #000;
}
.country .btn-check:focus+.btn, .btn:focus{
     box-shadow:none;
     color:black;
}
.country .btn-check:active+.btn:focus, .btn-check:checked+.btn:focus, .btn.active:focus, .btn.show:focus, .btn:active:focus{
     box-shadow:none
}
.dropdown-menu .input-group-text{
     background-color: white; 
     border: none;
}
.dropdown-menu{
     transform: translate3d(190px, 58px, 0px);
}	
.form-control{
     width: 90%;
}
.input-group-text{
     background-color: #f2f3f7;
     border:none;
}
.country .btn-light{
     background-color: #f2f3f7;
}

.country .btn-check:focus+.btn, .btn:focus{
     color: black;;
     background-color:  #f2f3f7;
     border-color: none;
}  */

/*OffCanvas setup*/
.offcanvas{
     --bs-offcanvas-height: 80vh;
}

