// Слайдер
.itemsslider {
    // Заголовок
    .header {
        align-items: baseline;
        color: #2d2f43;
        display: flex;
        // нейминование
        .title {
            font-size: 16px;
            line-height: 20px;
            display: block;
            -ms-flex-positive: 1;
            flex-grow: 1;
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-decoration: none;

            // Адаптив
            @media (min-width: 600px) {
                font-size: 20px;
                line-height: 24px;
            }

            @media (min-width: 840px) {
                font-size: 24px;
                line-height: 28px;
            }
        }

        // Действие
        .action {
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSAxbDYgNi02IDYiIHN0cm9rZT0iI0IyQjNDMiIgZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9zdmc+)
                no-repeat 100%;
            box-sizing: border-box;
            cursor: pointer;
            font-size: 14px;
            line-height: 16px;
            margin-left: 24px;
            padding-right: 16px;
            color: inherit;
            text-decoration: none;

            &:hover {
                color: $hoverColor;
            }
        }
    }
    // Слайдер
    .slider {
        position: relative;
        // Контент
        .content {
            margin-bottom: -100px;
            overflow-x: hidden;
            padding-bottom: 100px;
            // Элемент
            .inner {
                align-items: stretch;
                display: flex;
                flex-wrap: nowrap;
                margin: -16px 0 0 -16px;
                // Адаптив
                @media (min-width: 840px) {
                    flex-wrap: nowrap;
                }
            }
        }
    }

    // Предыдущий
    .prev {
        background: none;
        border: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        box-sizing: border-box;
        color: #2d2f43;
        cursor: pointer;
        display: flex;
        height: 40px;
        justify-content: center;
        position: absolute;
        top: calc(35% - 20px);
        transform-origin: center;
        transition: 0.2s ease;
        user-select: none;
        width: 40px;
        left: 10px;
        padding-left: 6px;

        &:after {
            border-right: 2px solid;
            border-top: 2px solid;
            box-sizing: border-box;
            content: "";
            display: block;
            height: 12px;
            transform-origin: center;
            width: 12px;
            transform: rotate(-135deg);
        }

        &:hover {
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
            color: #ff6262;
            transform: scale(1.15);
        }
        // Адаптив
        @media (max-width: 839.9px) {
            display: none;
        }
    }

    // Следующий
    .next {
        background: none;
        border: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        box-sizing: border-box;
        color: #2d2f43;
        cursor: pointer;
        display: flex;
        height: 40px;
        justify-content: center;
        position: absolute;
        top: calc(35% - 20px);
        transform-origin: center;
        transition: 0.2s ease;
        user-select: none;
        width: 40px;
        padding-right: 6px;
        right: 10px;

        &:after {
            border-right: 2px solid;
            border-top: 2px solid;
            box-sizing: border-box;
            content: "";
            display: block;
            height: 12px;
            transform-origin: center;
            width: 12px;
            transform: rotate(45deg);
        }

        &:hover {
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
            color: $hoverColor;
            transform: scale(1.15);
        }
        // Адаптив
        @media (max-width: 839.9px) {
            display: none;
        }
    }
}
