// Обертка продающего продукта
.cell__product {
    max-width: calc(50% - 16.1px);
    box-sizing: border-box;
    flex-basis: calc(50% - 16.1px);
    flex-grow: 0;
    flex-shrink: 0;
    margin: 16px 0 0 16px;
    max-width: 12rem;
    width: 12rem;
    display: none;

    // Адаптив
    @media(min-width:600px) {
            box-sizing: border-box;
            margin: 16px 0 0 16px;
            max-width: calc(33.33333% - 16.1px);
            width: calc(33.33333% - 16.1px);
            display: none;

        &:nth-child(-n+6) {
            display: flex;
        }
    }

    // Адаптив
    @media(min-width:840px) {
        box-sizing: border-box;
        flex-basis: calc(25% - 16.1px);
        flex-grow: 0;
        flex-shrink: 0;
        margin: 16px 0 0 16px;
        max-width: calc(25% - 16.1px);
        width: calc(25% - 16.1px);
        display: -ms-flexbox;
        display: flex;
    }

    @media(min-width:1280px) {
        box-sizing: border-box;
        margin: 16px 0 0 16px;
        max-width: calc(16.66667% - 16.1px);
        width: calc(16.66667% - 16.1px);
        display: flex;
    }
    //Блок продукта
    .product {
        color: #2d2f43;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        text-align: left;
        user-select: none;
        white-space: normal;
        // Контент товара
        a.content {
            color: inherit;
            cursor: pointer;
            position: relative;
            text-decoration: none;

            &:hover .imageWrap {
                transform: scale(1.05);
                transition: transform .3s ease-in-out
            }

            &:hover .actionButton {
                display: block;

                &:before {
                    animation: favorite-animation .3s ease both;
                }
            }

            // Квадрат
            .square {
                padding-top: 100%;
                position: relative;
                margin-top: 12px;
                // Контент квадрата
                .square_сontent {
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    // Движение картинки
                    .image_place {
                        border-radius: 8px;
                        height: 100%;
                        overflow: hidden;
                        transform: translateZ(0);
                        width: 100%;
                        // Обертка картинки
                        .image_wrap {
                            background-color: #f5f5f5;
                            height: inherit;
                            transform-origin: center center;
                            transition: transform .15s ease-in-out;
                            width: inherit;
                            // Картинка
                            img.image {
                                background-repeat: no-repeat;
                                display: inline-block;
                                display: block;
                                height: inherit;
                                mix-blend-mode: multiply;
                                width: inherit;
                                background-size: contain;
                                object-fit: contain;
                            }
                        }
                    }
                    // Значок объявления
                    .adBadge {
                        background-color: rgba(0, 0, 0, .3);
                        border-radius: 10px;
                        color: #fff;
                        font-size: 10px;
                        font-weight: 500;
                        height: 20px;
                        left: 8px;
                        line-height: 20px;
                        position: absolute;
                        text-align: center;
                        text-transform: uppercase;
                        top: 8px;
                        user-select: none;
                        width: 26px
                    }
                    // Увидомление
                    .block_one {
                        bottom: 0;
                        left: 0;
                        position: absolute;
                        right: 0;
                        // Приглашение
                        .offer {
                            background-color: $mainColor;
                            border-radius: 2px 2px 2px 7px;
                            color: #fff;
                            display: inline-block;
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 18px;
                            max-width: 70%;
                            overflow: hidden;
                            padding: 4px 8px;
                            text-overflow: ellipsis;
                            vertical-align: middle;
                            white-space: nowrap;
                            // Таймер
                            span.timer {
                                margin-right: 1ex;
                                display: -ms-inline-flexbox;
                                display: inline-flex;
                                white-space: nowrap;
                                will-change: contents;
                            }
                            // Заголовок
                            .title {
                                color: inherit;
                            }
                        }
                    }
                    // Действие
                    .actions {
                        bottom: 8px;
                        display: -ms-flexbox;
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        right: 8px;
                    }

                }
            }
            // Цена
            .price {
                font-size: 1.1111rem;
                font-weight: 500;
                line-height: 1.3333rem;
                margin-top: 8px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                 // Скрытый
                .hidden {
                    display: none;
                }
            }
            // обертка для оценки
            .rating {
                height: 16px;
                margin-top: 4px;
                font-size: 12px;
                line-height: 14px;
                // Звезды
                .stars {
                    display: -ms-inline-flexbox;
                    display: inline-flex;
                    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxNCI+PHBhdGggZmlsbD0iI2RmZGZlNyIgZD0iTTEzLjI2IDQuNDhMOS4zIDQuMTQgNy43NS41YS44Mi44MiAwIDAwLTEuNSAwTDQuNyA0LjE0bC0zLjk1LjM0YS44Mi44MiAwIDAwLS40NyAxLjQzbDMgMi42LS45IDMuODZhLjgyLjgyIDAgMDAxLjIyLjg5TDcgMTEuMmwzLjQgMi4wNWEuODIuODIgMCAwMDEuMjEtLjg4bC0uOS0zLjg3IDMtMi42Yy41NS0uNDcuMjctMS4zNy0uNDUtMS40M3oiLz48L3N2Zz4=) 0 0 repeat-x;
                    height: 14px;
                    width: 86px;
                    // Заливка звезд
                    .star_fill {
                        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxNCI+PHBhdGggZmlsbD0iI2ZmNjI2MiIgZD0iTTEzLjI2IDQuNDhMOS4zIDQuMTQgNy43NS41YS44Mi44MiAwIDAwLTEuNSAwTDQuNyA0LjE0bC0zLjk1LjM0YS44Mi44MiAwIDAwLS40NyAxLjQzbDMgMi42LS45IDMuODZhLjgyLjgyIDAgMDAxLjIyLjg5TDcgMTEuMmwzLjQgMi4wNWEuODIuODIgMCAwMDEuMjEtLjg4bC0uOS0zLjg3IDMtMi42Yy41NS0uNDcuMjctMS4zNy0uNDUtMS40M3oiLz48L3N2Zz4=) 0 0 repeat-x;
                        height: 14px;
                    }
                }

            }
            // Именование товара
            .name {
                user-select: text;
                display: block;
                position: relative;
                overflow: hidden;
                text-overflow: ellipsis;
                max-height: 2.6666em;
                font-size: 14px;
                line-height: 1.3333em;
                margin-top:8px;
            }
        }
    }
}

//  не нашел этот класс , хз для чего он
// Сам написал, как душа велела
.none {
    display: none;
}