.cell__product {
    max-width: calc(50% - 16.1px);
    box-sizing: border-box;
    -ms-flex-preferred-size: calc(50% - 16.1px);
    flex-basis: calc(50% - 16.1px);
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 16px 0 0 16px;
    width: calc(50% - 16.1px);
    --notice-font-size: 12px;
    --notice-height: 22px;
    --notice-line-height: 16px;
    --notice-padding-top: 6px;
    --notice-wrap-right: 24px;
    --tool-size: 32px;
    --price-font-size: 20px;
    --price-line-height: 24px;
    --rating-margin-top: 4px;
    --name-font-size: 12px;
    --name-line-height: 16px;
    --name-lines: 2;
    display: none;

    &:nth-child(-n+4) {
        display: -ms-flexbox;
        display: flex;
    }
    
    @media(max-width:369px) {
            --notice-font-size: 12px;
            --notice-height: 22px;
            --notice-line-height: 16px;
            --notice-padding-top: 6px;
            --notice-wrap-right: 24px;
            --tool-size: 32px;
            --price-font-size: 16px;
            --price-line-height: 20px;
            --rating-margin-top: 2px;
            --name-font-size: 12px;
            --name-line-height: 16px;
            --name-lines: 2;
    }

    @media(min-width:600px) {
            box-sizing: border-box;
            -ms-flex-preferred-size: calc(33.33333% - 16.1px);
            flex-basis: calc(33.33333% - 16.1px);
            -ms-flex-positive: 0;
            flex-grow: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            margin: 16px 0 0 16px;
            max-width: calc(33.33333% - 16.1px);
            width: calc(33.33333% - 16.1px);
            display: none;
    
        &:nth-child(-n+6) {
            display: -ms-flexbox;
            display: flex;
        }
    }

    @media(min-width:840px) {
            box-sizing: border-box;
            -ms-flex-preferred-size: calc(25% - 16.1px);
            flex-basis: calc(25% - 16.1px);
            -ms-flex-positive: 0;
            flex-grow: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            margin: 16px 0 0 16px;
            max-width: calc(25% - 16.1px);
            width: calc(25% - 16.1px);
            --notice-font-size: 14px;
            --notice-height: 26px;
            --notice-line-height: 16px;
            --notice-padding-top: 10px;
            --notice-wrap-right: 32px;
            --tool-size: 40px;
            --price-font-size: 24px;
            --price-line-height: 28px;
            --rating-margin-top: 4px;
            --name-font-size: 14px;
            --name-line-height: 18px;
            --name-lines: 2;
            display: -ms-flexbox;
            display: flex;
    }

    @media(min-width:840px)and (max-width:999px) {
            --notice-font-size: 12px;
            --notice-height: 22px;
            --notice-line-height: 16px;
            --notice-padding-top: 6px;
            --notice-wrap-right: 24px;
            --tool-size: 32px;
            --price-font-size: 20px;
            --price-line-height: 24px;
            --rating-margin-top: 4px;
            --name-font-size: 12px;
            --name-line-height: 16px;
            --name-lines: 2;
    }

    @media(min-width:1280px) {
            box-sizing: border-box;
            -ms-flex-preferred-size: calc(16.66667% - 16.1px);
            flex-basis: calc(16.66667% - 16.1px);
            -ms-flex-positive: 0;
            flex-grow: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            margin: 16px 0 0 16px;
            max-width: calc(16.66667% - 16.1px);
            width: calc(16.66667% - 16.1px);
            --notice-font-size: 12px;
            --notice-height: 22px;
            --notice-line-height: 16px;
            --notice-padding-top: 6px;
            --notice-wrap-right: 24px;
            --tool-size: 32px;
            --price-font-size: 20px;
            --price-line-height: 24px;
            --rating-margin-top: 4px;
            --name-font-size: 12px;
            --name-line-height: 16px;
            --name-lines: 2;
            display: -ms-flexbox;
            display: flex;
    }

    .product {
        color: #2d2f43;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: 14px;
        text-align: left;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: normal;

        a.content {
            color: inherit;
            cursor: pointer;
            position: relative;
            text-decoration: none;

            &:hover .imageWrap {
                transform: scale(1.05);
                transition: transform .3s ease-in-out
            }

            &:hover .actionButton {
                display: block;
            }

            :hover .actionButton:before {
                animation: favorite-animation___bpQml .3s ease both;
            }

            .square {
                padding-top: 100%;
                position: relative;
                margin-top: 12px;

                .squareContent {
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;

                    .imagePlace {
                        border-radius: 8px;
                        height: 100%;
                        overflow: hidden;
                        transform: translateZ(0);
                        width: 100%;

                        .imageWrap {
                            background-color: #f5f5f5;
                            height: inherit;
                            transform-origin: center center;
                            transition: transform .15s ease-in-out;
                            width: inherit;

                            img.image {
                                background-repeat: no-repeat;
                                display: inline-block;
                                display: block;
                                height: inherit;
                                mix-blend-mode: multiply;
                                width: inherit;
                                background-size: contain;
                                -o-object-fit: contain;
                                object-fit: contain;
                            }
                        }
                    }

                    .adBadge {
                        background-color: rgba(0, 0, 0, .3);
                        border-radius: 10px;
                        color: #fff;
                        font-size: 10px;
                        font-weight: 500;
                        height: 20px;
                        left: 8px;
                        line-height: 20px;
                        position: absolute;
                        text-align: center;
                        text-transform: uppercase;
                        top: 8px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        width: 26px
                    }

                    .notice {
                        bottom: 0;
                        left: 0;
                        position: absolute;
                        right: 0;

                        .offer {
                            background-color: #ff6262;
                            border-radius: 2px 2px 2px 7px;
                            color: #fff;
                            display: inline-block;
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 18px;
                            max-width: 70%;
                            overflow: hidden;
                            padding: 4px 8px;
                            text-overflow: ellipsis;
                            vertical-align: middle;
                            white-space: nowrap;

                            span.timer {
                                margin-right: 1ex;
                                display: -ms-inline-flexbox;
                                display: inline-flex;
                                white-space: nowrap;
                                will-change: contents;
                            }

                            .title {
                                color: inheritж
                            }
                        }
                    }

                    .actions {
                        bottom: 8px;
                        display: -ms-flexbox;
                        display: flex;
                        -ms-flex-direction: column;
                        flex-direction: column;
                        position: absolute;
                        right: 8px;
                    }

                }
            }

            .price {
                font-size: 1.1111rem;
                font-size: var(--price-font-size, 1.1111rem);
                font-weight: 500;
                line-height: 1.3333rem;
                line-height: var(--price-line-height, 1.3333rem);
                margin-top: 8px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                .hidden {
                    display: none;
                }
            }

            .rating {
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                height: 16px;
                margin-top: 4px;
                margin-top: 4px;
                -ms-flex-align: center;
                align-items: center;
                font-size: 12px;
                line-height: 14px;

                .stars {
                    display: -ms-inline-flexbox;
                    display: inline-flex;
                    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxNCI+PHBhdGggZmlsbD0iI2RmZGZlNyIgZD0iTTEzLjI2IDQuNDhMOS4zIDQuMTQgNy43NS41YS44Mi44MiAwIDAwLTEuNSAwTDQuNyA0LjE0bC0zLjk1LjM0YS44Mi44MiAwIDAwLS40NyAxLjQzbDMgMi42LS45IDMuODZhLjgyLjgyIDAgMDAxLjIyLjg5TDcgMTEuMmwzLjQgMi4wNWEuODIuODIgMCAwMDEuMjEtLjg4bC0uOS0zLjg3IDMtMi42Yy41NS0uNDcuMjctMS4zNy0uNDUtMS40M3oiLz48L3N2Zz4=) 0 0 repeat-x;
                    height: 14px;
                    width: 86px;

                    .starFill {
                        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxNCI+PHBhdGggZmlsbD0iI2ZmNjI2MiIgZD0iTTEzLjI2IDQuNDhMOS4zIDQuMTQgNy43NS41YS44Mi44MiAwIDAwLTEuNSAwTDQuNyA0LjE0bC0zLjk1LjM0YS44Mi44MiAwIDAwLS40NyAxLjQzbDMgMi42LS45IDMuODZhLjgyLjgyIDAgMDAxLjIyLjg5TDcgMTEuMmwzLjQgMi4wNWEuODIuODIgMCAwMDEuMjEtLjg4bC0uOS0zLjg3IDMtMi42Yy41NS0uNDcuMjctMS4zNy0uNDUtMS40M3oiLz48L3N2Zz4=) 0 0 repeat-x;
                        height: 14px;
                    }
                }
                
            }

            .name {
                line-height: 1.2857em;
                max-height: 2.5714em;
                font-size: 12px;
                font-size: var(--name-font-size, 12px);
                line-height: 16px;
                line-height: var(--name-line-height, 16px);
                margin-top: 8px;
                max-height: 32px;
                max-height: calc(var(--name-lines, 2)*var(--name-line-height, 16px));
                -webkit-user-select: text;
                -moz-user-select: text;
                -ms-user-select: text;
                user-select: text;
                display: block;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                position: relative;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                max-height: 2.6666em;
                font-size: 12px;
                line-height: 1.3333em;
                margin-top:8px;
            }
        }
    }
}

//  не нашел этот класс , хз для чего он
// Сам написал, как душа велела
.none {
    display: none;
}