// Контейнер ссылки
    // Контейнер для основной информации
    .empty {
        margin-left: auto;
        margin-right: auto;
        padding-left: 6px;
        padding-right: 6px;
        margin-top: 48px;
        padding-bottom: 48px;
        text-align: center;
        // Адаптив
        
        // Small devices (sm)
        @media(min-width:$sm) {
            padding: 0 6px;
        }
        // Medium devices (md)
        @media (min-width: $md) {
            padding: 0 8px;
            margin-top: 64px;
            padding-bottom: 64px;
        }
        // Large devices (lg)
        @media (min-width: $lg) {
            padding: 0 8px;
        }
        // XX-Large devices (xxl)
        @media(min-width: $xxl) {
            padding: 0 8px;
        }

        a {
            font-size: 20px;
            text-decoration: none;
            margin: auto;
        }
        // Картинка
        .image {
            max-width: 90%;
            margin-bottom: 24px;
            // Medium devices (md)
            @media (min-width: $md) {
                margin-bottom: 32px
            }
        }
    }