// Контейнер ошибки контента
.cart_item {
    color: #2d2f43;
    display: block;

    font-size: 14px;
    width: 100%;
    padding-right: 16px;
    margin-top: 16px;
    
    // Адаптив
    // Small devices (sm)
    @media (min-width: $sm) {
        width: 100%;
        font-size: 16px;
        margin-top: 10px;
        padding-right: 0;

    }
    // Medium devices (md)
    @media (min-width: $md) {}
    // Large devices (lg)
    @media (min-width: $lg) {}
    // X-Large devices (xl)
    @media (min-width: $xl) {}
    // XX-Large devices (xxl)
    @media (min-width: $xxl) {}
    // Контейнер для фото

    //Имя контента
    .mobile_name_text {
        display: block;

        // Small devices (sm)
        @media (min-width: $sm) {
            display: none;
        }
        // Medium devices (md)
        @media (min-width: $md) {}
        // Large devices (lg)
        @media (min-width: $lg) {}
        // X-Large devices (xl)
        @media (min-width: $xl) {}
        // XX-Large devices (xxl)
        @media (min-width: $xxl) {}
    }

    .photo {
        border-radius: 4px;
        display: flex;
    }
        .wrap_img {
            background: rgba(0, 0, 0, .04);
            // Фото продоваемого контента
            img.img_phono {
                @include contain;
                mix-blend-mode: multiply;
                background-repeat: no-repeat;
                display: flex;
                object-fit: contain;
                width: 95px;
                height: 95px;
            }
        }
        
        // обертка контента
        .content_item {
            flex-grow: 1;
            margin-left: 12px;
            width: 90%;
            margin-left: 10px;

            // Адаптив
            // Small devices (sm)
            @media (min-width: $sm) {
                width: 100%;
                margin-left: 12px;
            }
            // Medium devices (md)
            @media (min-width: $md) {}
            // Large devices (lg)
            @media (min-width: $lg) {}
            // X-Large devices (xl)
            @media (min-width: $xl) {}
            // XX-Large devices (xxl)
            @media (min-width: $xxl) {}

            .name_text {
                max-height: 3em;
                display: none;

                // Адаптив
                // Small devices (sm)
                @media (min-width: $sm) {
                    font-size: 16px;
                    display: block;
                }
                // Medium devices (md)
                @media (min-width: $md) {}
                // Large devices (lg)
                @media (min-width: $lg) {}
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}
            }
            // Контейнер с ниформацией о товара
            .info_product {
                font-size: 14px;
                font-weight: 500;
                // Адаптив

                // Small devices (sm)
                @media (min-width: $sm) {
                    font-size: 16px;
                }
                // Medium devices (md)
                @media (min-width: $md) {}
                // Large devices (lg)
                @media (min-width: $lg) {}
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}

                // Скрытая часть
                .hidden {
                    display: none;
                }

                .none_product {
                    display: none;
                }

                .delivery_product {
                    font-style: 14px;
                }
            }
        }

        // Количество
        .quantity {
            flex-wrap: wrap;

             // Small devices (sm)
            @media (min-width: $sm) {
            }
            // Medium devices (md)
            @media (min-width: $md) {}
            // Large devices (lg)
            @media (min-width: $lg) {}
            // X-Large devices (xl)
            @media (min-width: $xl) {}
            // XX-Large devices (xxl)
            @media (min-width: $xxl) {}

            .decrease  {

            }
        }
    // Блок с ценам
    .block_price {  
        display: flex;
        margin-top: 4px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-content: flex-end;
        // Small devices (sm)
        @media (min-width: $sm) {
        }
        // Medium devices (md)
        @media (min-width: $md) {}
        // Large devices (lg)
        @media (min-width: $lg) {}
        // X-Large devices (xl)
        @media (min-width: $xl) {}
        // XX-Large devices (xxl)
        @media (min-width: $xxl) {}
        
        // Старая цена
        .old_price {
            color:rgb(146, 146, 146);
            text-decoration: line-through;
            font-size: $textItem;
        }
    }

    .trash {
        margin: 2px 5px;
        cursor: pointer;
        display: flex;

        &:hover {
            // background:$mainColor;
        }
        
        // Адаптив

        // Small devices (sm)
        @media (min-width: $sm) {
            font-size: 16px;
        }
        // Medium devices (md)
        @media (min-width: $md) {}
        // Large devices (lg)
        @media (min-width: $lg) {}
        // X-Large devices (xl)
        @media (min-width: $xl) {}
        // XX-Large devices (xxl)
        @media (min-width: $xxl) {}


    }

    .counter {
        position: static;
        color: #9697a1;
        margin-top: 27px;
        margin-right: -94px;
        height: 24px;
        display: flex;
        user-select: none;
        white-space: nowrap;

        // Small devices (sm)
        @media (min-width: $sm) {
            margin-top: 0;
            margin-right: 0;
            margin: -1px;
        }
        // Medium devices (md)
        @media (min-width: $md) {}
        // Large devices (lg)
        @media (min-width: $lg) {}
        // X-Large devices (xl)
        @media (min-width: $xl) {}
        // XX-Large devices (xxl)
        @media (min-width: $xxl) {}

        .count {

            // Адпаптив

            // Small devices (sm)
            @media (min-width: $sm) {}
            // Medium devices (md)
            @media (min-width: $md) {}
            // Large devices (lg)
            @media (min-width: $lg) {}
            // X-Large devices (xl)
            @media (min-width: $xl) {}
            // XX-Large devices (xxl)
            @media (min-width: $xxl) {}

        }

    }
}



// // Small devices (sm)
// @media (min-width: $sm) {}
// // Medium devices (md)
// @media (min-width: $md) {}
// // Large devices (lg)
// @media (min-width: $lg) {}
// // X-Large devices (xl)
// @media (min-width: $xl) {}
// // XX-Large devices (xxl)
// @media (min-width: $xxl) {}