// Контейнер ошибки контента
.cart_item {
    align-items: flex-start;
    color: #2d2f43;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    justify-content: space-between;

    font-size: 14px;
    width: 80%;
    padding-right: 16px;
    margin-top: 16px;
    
    // Адаптив
    // Small devices (sm)
    @media (min-width: $sm) {
        width: 100%;
        font-size: 16px;
        margin-top: 10px;
        padding-right: 0;

    }
    // Medium devices (md)
    @media (min-width: $md) {}
    // Large devices (lg)
    @media (min-width: $lg) {}
    // X-Large devices (xl)
    @media (min-width: $xl) {}
    // XX-Large devices (xxl)
    @media (min-width: $xxl) {}
    // Контейнер для фото
    .photo {
        background: rgba(0, 0, 0, .04);
        border-radius: 4px;
        height: 95px;
        min-width: 95px;
        position: relative;
        width: 95px;
    }
        // Фото для контента 
        img.img_phono {
            background-repeat: no-repeat;
            display: inline-block;
            @include contain;
            mix-blend-mode: multiply;
        }
        // обертка контента
        .content_item {
            flex-grow: 1;
            margin-left: 12px;
            width: 90%;
            margin-left: 10px;

            // Адаптив
            // Small devices (sm)
            @media (min-width: $sm) {
                width: 100%;
                margin-left: 12px;
            }
            // Medium devices (md)
            @media (min-width: $md) {}
            // Large devices (lg)
            @media (min-width: $lg) {}
            // X-Large devices (xl)
            @media (min-width: $xl) {}
            // XX-Large devices (xxl)
            @media (min-width: $xxl) {}

            //Имя контента
            .mobile_name_text {
                display: block;
                
                // Small devices (sm)
                @media (min-width: $sm) {
                    display: none;
                }
                // Medium devices (md)
                @media (min-width: $md) {}
                // Large devices (lg)
                @media (min-width: $lg) {}
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}
            }
            .name_text {
                max-height: 3em;
                position: absolute;
                top: -30px;
                left: 30px;
                font-size: 17px;

                // Адаптив
                // Small devices (sm)
                @media (min-width: $sm) {
                    font-size: 16px;
                    position: static;
                }
                // Medium devices (md)
                @media (min-width: $md) {}
                // Large devices (lg)
                @media (min-width: $lg) {}
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}
            }
            // Контейнер с ниформацией о товара
            .info_product {
                font-size: 14px;
                font-weight: 500;
                display: grid;
                // Адаптив

                // Small devices (sm)
                @media (min-width: $sm) {
                    font-size: 16px;
                }
                // Medium devices (md)
                @media (min-width: $md) {}
                // Large devices (lg)
                @media (min-width: $lg) {}
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}

                // Скрытая часть
                .hidden {
                    display: none;
                }

                .none_product {
                    display: none;
                }

                .delivery_product {
                    font-style: 14px;
                }
            }
        }

        // Количество
        .quantity {
            margin-top: 6px;
            position: static;
            white-space: nowrap;

             // Small devices (sm)
            @media (min-width: $sm) {
                position: absolute;
                margin: 0 10px;
                left: 117px;
                top: 70px;
            }
            // Medium devices (md)
            @media (min-width: $md) {}
            // Large devices (lg)
            @media (min-width: $lg) {}
            // X-Large devices (xl)
            @media (min-width: $xl) {}
            // XX-Large devices (xxl)
            @media (min-width: $xxl) {}

            .decrease  {

            }
        }
    // Блок с ценам
    .block_price {
        display: block;
        display: flex;
        flex-wrap: wrap;
        
        position: absolute;
        margin-top: 4px;
        top: 70px;
        left: 130px;
        // Small devices (sm)
        @media (min-width: $sm) {
            position: static;
        }
        // Medium devices (md)
        @media (min-width: $md) {}
        // Large devices (lg)
        @media (min-width: $lg) {}
        // X-Large devices (xl)
        @media (min-width: $xl) {}
        // XX-Large devices (xxl)
        @media (min-width: $xxl) {}
        
        // Старая цена
        .old_price {
            color:rgb(146, 146, 146);
            text-decoration: line-through;
            font-size: $textItem;
        }
    }

    .trash {
        margin: 2px 5px;
        cursor: pointer;
        display: none;

        &:hover {
            // background:$mainColor;
        }
        
        // Адаптив

        // Small devices (sm)
        @media (min-width: $sm) {
            font-size: 16px;
            display: flex;
        }
        // Medium devices (md)
        @media (min-width: $md) {}
        // Large devices (lg)
        @media (min-width: $lg) {}
        // X-Large devices (xl)
        @media (min-width: $xl) {}
        // XX-Large devices (xxl)
        @media (min-width: $xxl) {}


    }

    .counter {
        position: static;
        color: #9697a1;
        margin-top: 27px;
        margin-right: -94px;
        height: 24px;
        display: flex;
        user-select: none;
        white-space: nowrap;
        rotate: -90deg;

        // Small devices (sm)
        @media (min-width: $sm) {
            rotate: 0deg;
            margin-top: 0;
            margin-right: 0;
            margin: -1px;
        }
        // Medium devices (md)
        @media (min-width: $md) {}
        // Large devices (lg)
        @media (min-width: $lg) {}
        // X-Large devices (xl)
        @media (min-width: $xl) {}
        // XX-Large devices (xxl)
        @media (min-width: $xxl) {}

        .count {
            rotate: 90deg;

            // Адпаптив

            // Small devices (sm)
            @media (min-width: $sm) {
                rotate: 0deg;
            }
            // Medium devices (md)
            @media (min-width: $md) {}
            // Large devices (lg)
            @media (min-width: $lg) {}
            // X-Large devices (xl)
            @media (min-width: $xl) {}
            // XX-Large devices (xxl)
            @media (min-width: $xxl) {}

        }

    }
}



// // Small devices (sm)
// @media (min-width: $sm) {}
// // Medium devices (md)
// @media (min-width: $md) {}
// // Large devices (lg)
// @media (min-width: $lg) {}
// // X-Large devices (xl)
// @media (min-width: $xl) {}
// // XX-Large devices (xxl)
// @media (min-width: $xxl) {}