.cart_page {
    display: block;
    width: 100%;
    height: 700px;
    margin-top: 20px;
    background-color: #f2f2f2;

    @media (max-width:992px) {
        height: 800px;
    }

    .block_page {
        margin-top: 20px;
        padding: 20px 12px;
        background-color:$white;
        border-radius: 5px;

        
        .checkbox_text {
            display: flex;

            .icon_basket {
                margin: 5px;
                display: inline-block;
                vertical-align: middle;
                opacity: .5;
            }

        }

        .block_delivery_logo {
            border-bottom: 2px solid #e4e1e1;
                
            h5.delivery {
                padding-bottom: 20px;
            }

        }

        .delete_block {
            span {
                color:$mainColor;
            }
        }

        .discount_block {
            margin: 20px;
            .discount_text {
                font-weight: 500;
            }

            .input_discount {
                background: #fff;
                border-color: rgba(0, 0, 0, .08);
                color: #2d2f43;
                padding: 8px;
                margin: 0;
                border-radius: 5px;
                max-width: 62%;
                width: 100%;

                @media (max-width:1400px) {
                    max-width: 63%;
                    font-size: 14px;
                }

                @media (max-width:1200px) {
                    max-width: 100%;
                    font-size: 11px;
                }

                @media (max-width:1000px) {
                    // max-width: 60;
                }
            }
            
            .btn_discount {
                max-width: 35%;
                width: 100%;
                @media (max-width:1400px) {
                    max-width: 34%;
                }

                @media (max-width:1200px) {
                    margin-top: 20px;
                    max-width: 100%;
                    font-size: 11px;
                }

                // @media (max-width:1000px) {
                //     max-width: 38%;
                // }

                @media (max-width:460px) {
                    max-width: 37%;
                }

                .apply {
                    font-size: 16px;
                }
            }

            .hyper_text {
                box-sizing: border-box;
                hyphens: auto;
                line-height: 1.4;
                font-size: 10px;
                overflow-wrap: break-word;
                word-wrap: break-word;

                .blanck {
                    color: $mainColor;
                }
            }    
        }
    }

    .block_payment {
        .subheader {
            color: #a5a5a5;
            font-size: 15px;
            font-weight: 500;
        }

        .money {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: -2px;
            max-width: 280px;

            .item_money {
                display: block;
                margin: 2px;
            }
        }
    }
}

