// Контент
.adult_page {
    margin: 16px 8px;

    // Адаптив
    // Small devices (sm)
    @media (min-width: $sm) {}
    // Medium devices (md)
    @media (min-width: $md) {
        margin: 16px 8px;
    }
    // Large devices (lg)
    @media (min-width: $lg) {}
    // X-Large devices (xl)
    @media (min-width: $xl) {}
    // XX-Large devices (xxl)
    @media (min-width: $xxl) {}
    
    // Сообщение
    .message {
        margin-left: auto;
        margin-right: auto;
        margin-top: 48px;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 48px;
        // Адаптив
        // Small devices (sm)
        @media (min-width: $sm) {
            padding-left: 6px;
            padding-right: 6px;
        }
        // Medium devices (md)
        @media (min-width: $md) {
            padding-left: 8px;
            padding-right: 8px;
            margin-top: 64px;
            padding-bottom: 64px;
        }
        // Large devices (lg)
        @media (min-width: $lg) {
            padding-left: 8px;
            padding-right: 8px;
        }
        // X-Large devices (xl)
        @media (min-width: $xl) {}
        // XX-Large devices (xxl)
        @media (min-width: $xxl) {
            padding-left: 8px;
            padding-right: 8px;
        }
        // Контент сообщения
        .content {
            box-sizing: border-box;
            display: block;
            flex-wrap: wrap;
            margin-left: -6px;
            margin-right: -6px;
            min-height: 1px;
            position: relative;
            width: 100%;
            padding-left: 6px;
            padding-right: 6px;
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
            // Адаптив
            // very small ($ms)
            @media (min-width: $sm) {
                margin-left: -6px;
                margin-right: -6px;
                padding-left: 6px;
                padding-right: 6px;
            }
            // Medium devices (md)
            @media (min-width: $md) {
                margin-left: -8px;
                margin-right: -8px;
                padding-left: 8px;
                padding-right: 8px;
            }
            // Large devices (lg)
            @media (min-width: $lg) {
                margin-left: -8px;
                margin-right: -8px;
                padding-left: 8px;
                padding-right: 8px;
            }
            // XX-Large devices (xxl)
            @media (min-width: $xxl) {
                margin-left: -8px;
                margin-right: -8px;
                padding-left: 8px;
                padding-right: 8px;
            }
            // Картинка
            .image {
                max-width: 90%;
                position: relative;
                margin: $mc 24px;
                // Адаптив
                // Small devices (sm)
                @media (min-width: $sm) {}
                // Medium devices (md)
                @media (min-width: $md) {
                    margin-bottom: 32px;
                }
                // Large devices (lg)
                @media (min-width: $lg) {}
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}
                

                img {
                    max-width: 100%;
                }
                // Предупреждение
                h1.title {
                    font-size: 1.2rem;
                    width: 20rem;
                    font-weight: 500;
                    margin: $mc;
                    max-width: 80%;
                    position: relative;
                    width: 30rem;
                    // Адаптив
                    // Small devices (sm)
                    @media (min-width: $sm) {}
                    // Medium devices (md)
                    @media (min-width: $md) {
                        font-size: 1.3333rem;
                        width: 30rem;
                    }
                    // Large devices (lg)
                    @media (min-width: $lg) {}
                    // X-Large devices (xl)
                    @media (min-width: $xl) {}
                    // XX-Large devices (xxl)
                    @media (min-width: $xxl) {}
                }
                // Текст предупреждения
                p.text {
                    font-size: 1.1111rem;
                    line-height: 1.4;
                    margin: 0.6666rem auto 0;
                    max-width: 80%;
                    position: relative;
                    width: 30rem;
                    font-size: .8em;
                    font-family: monospace;
                    opacity: .5;
                    // Адаптив
                    // Small devices (sm)
                    @media (min-width: $sm) {}
                    // Medium devices (md)
                    @media (min-width:$md) {
                        font-size: 1rem;
                        width: 20rem;
                    }
                    // Large devices (lg)
                    @media (min-width: $lg) {}
                    // X-Large devices (xl)
                    @media (min-width: $xl) {}
                    // XX-Large devices (xxl)
                    @media (min-width: $xxl) {}

                }
            }
        }
    }
}