// шаблон трейдера брендированная
.trader_page_branded {
    max-width: 100%;
    padding-left: 6px;
    border-right: 1px solid #eee;
    padding-right: 0.6667rem;
    border-right: none;
    margin-right: 0;
    padding-right: 0;

    // Адаптив
    // Small devices (sm)
    @media (min-width: $sm) {}
    // Medium devices (md)
    @media (min-width: $md) {
        margin-top: 16px;
        margin-right: 8px;
        box-sizing: border-box;
    }
    // Large devices (lg)
    @media (min-width: $lg) {}
    // X-Large devices (xl)
    @media (min-width: $xl) {}
    // XX-Large devices (xxl)
    @media (min-width: $xxl) {}
    

    // Элементр
    .element { 
        position: sticky;
        top: 12px;
        position: relative;

        // Левая часть
        .leftColTop {
            margin-bottom: 0;
    
            // Адаптив
            // Small devices (sm)
            @media (min-width: $sm) {}
            // Medium devices (md)
            @media (min-width: $md) {
                margin-bottom: 16px;
            }
            // Large devices (lg)
            @media (min-width: $lg) {}
            // X-Large devices (xl)
            @media (min-width: $xl) {}
            // XX-Large devices (xxl)
            @media (min-width: $xxl) {}
            
            
            // Резюме
            .storeSummary {
                box-shadow: 0 1px 0 0 rgba(0, 0, 0, .06);
                overflow: hidden;
                margin-top: -30px;
                padding-top: 30px;
                margin-bottom: 16px;

                // Адаптив
                // Small devices (sm)
                @media (min-width: $sm) {}
                // Medium devices (md)
                @media (min-width: $md) {
                    border: 1px solid #f2f3f7;
                    border-radius: .444rem;
                    box-shadow: none;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-top: 0;
                }
                // Large devices (lg)
                @media (min-width: $lg) {}
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}
                
                // Главное
                .main {
                    background: #fff;
                    text-align: center;
                    padding: 24px;
    
                    // Контекст меню
                    .context_menu {
                        position: absolute;
                        right: 32px;
                        top: 32px;
    
                        // Кнопка 
                        button.contextMenuButton {
                            background: none;
                            border: none;
                            box-shadow: none;
                            margin: 0;
                            padding: 0;
                            cursor: pointer;
                        }
                    }
    
                    // Обертка для лого
                    .logo_wrap {
                        margin: 23px auto 42px;
                        margin: 10px auto 25px;
    
                        // Адаптив
                        @media (min-width: $sm) {}
                        // Medium devices (md)
                        @media (min-width: $md) {
                            margin: 23px auto 42px;
                        }
                        // Large devices (lg)
                        @media (min-width: $lg) {}
                        // X-Large devices (xl)
                        @media (min-width: $xl) {}
                        // XX-Large devices (xxl)
                        @media (min-width: $xxl) {}
    
                        // Логотип
                        .logo {
                            align-items: center;
                            display: inline-flex;
                            background: #fff;
                            border: 1px solid rgba(0, 0, 0, .1);
                            border-radius: 6px;
                            box-sizing: border-box;
                            justify-content: center;
                            overflow: hidden;
                            text-align: center;
                            height: 4rem;
                            line-height: 4rem;
                            width: 4rem;

                            left: 50%;
                            position: absolute;
                            top: 0;
                            transform: translateX(-50%);
                            
                            // Адаптив
                            // Small devices (sm)
                            @media (min-width: $sm) {}
                            // Medium devices (md)
                            @media (min-width: $md) {
                                position: relative;
                            }
                            // Large devices (lg)
                            @media (min-width: $lg) {}
                            // X-Large devices (xl)
                            @media (min-width: $xl) {}
                            // XX-Large devices (xxl)
                            @media (min-width: $xxl) {}
                            
                            // Буквы
                            .letters {
                                font-size: 1.2222rem;
                            }
                        }
                    }
    
                    // Имя трейдера
                    h1.trader_name {
                        font-size: 1.7778rem;
                        font-weight: 500;
                        overflow-wrap: break-word;
                        word-wrap: break-word;
                    }
                    // Комюнити
                    h2.trader_country {
                        color: #9697a1;
                        font-size: .7222rem;
                        font-weight: 400;
                        margin-top: .5rem;
                        
                        // Локация 
                        svg.locationPin {
                            padding-right: .25rem;
                        }
                    }
                }
                
                // Статус всего акка
                .stats {
                    background: #fff;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    margin-right: -1px;
                    
                    // Отдельный статус
                    .stat_item {
                        border-color: hsla(0, 0%, 80%, .2);
                        border-style: solid;
                        border-width: 1px 1px 0 0;
                        color: #9697a1;
                        -ms-flex: 1;
                        flex: 1;
                        font-size: 12px;
                        text-align: center;
                        padding: 12px;
                        
                        // Значение
                        .stat_value {
                            color: #2d2f43;
                            font-size: 1rem;
                        }
                    }
                }
            }
            
            // кнопка категорий
            .categories_button {
                background: none;
                border: none;
                box-shadow: none;
                padding: 0;
                -ms-flex-line-pack: center;
                align-content: center;
                -ms-flex-align: center;
                align-items: center;
                cursor: pointer;
                display: block;
                font-size: 16px;
                -ms-flex-pack: center;
                justify-content: center;
                line-height: 20px;
                margin: 4px auto;
                // Адаптив
                // Small devices (sm)
                @media (min-width: $sm) {}
                // Medium devices (md)
                @media (min-width: $md) {
                    display: none;
                }
                // Large devices (lg)
                @media (min-width: $lg) {}
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}
    
                &:after {
                    background-position: 50%;
                    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTIuMjk1IDEuNzA1bC0xLjQxLTEuNDEtNC41OSA0LjU4LTQuNTktNC41OC0xLjQxIDEuNDEgNiA2IDYtNnoiIGZpbGw9IiMyRDJGNDMiLz48L3N2Zz4=)
                        no-repeat;
                    bottom: 1px;
                    content: "";
                    display: inline-block;
                    height: 8px;
                    margin-left: 8px;
                    position: relative;
                    width: 14px;
                }
            }
            
        }

        // Каталог
        .catalog{
            display: none;
            padding: 0;

            // Адаптив
            // Small devices (sm)
            @media (min-width: $sm) {}
            // Medium devices (md)
            @media (min-width: $md) {
                display: block;
            }
            // Large devices (lg)
            @media (min-width: $lg) {}
            // X-Large devices (xl)
            @media (min-width: $xl) {}
            // XX-Large devices (xxl)
            @media (min-width: $xxl) {}


            // Тип каталога
            .catalog__type {
                text-align: left;
            }
        }

        // Контейнер продукта
        .product_container_revision {
                margin: 0 -6px;
                padding-bottom: 40px;

            // Адаптив
            // Small devices (sm)
            @media (min-width: $sm) {}
            // Medium devices (md)
            @media (min-width: $md) {
                margin: 0 -8px;
            }
            // Large devices (lg)
            @media (min-width: $lg) {}
            // X-Large devices (xl)
            @media (min-width: $xl) {}
            // XX-Large devices (xxl)
            @media (min-width: $xxl) {}

            // Элемент
            .inner {
                -ms-flex-align: stretch;
                align-items: stretch;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                margin: -16px 0 0 -16px;

                // Блокирование запроса фильтров
                .block_search_filteres {
                    box-sizing: border-box;
                    flex-basis: calc(100% - 16.1px);
                    -ms-flex-positive: 0;
                    flex-grow: 0;
                    -ms-flex-negative: 0;
                    flex-shrink: 0;
                    margin: 16px 0 0 16px;
                    max-width: calc(100% - 16.1px);
                    width: calc(100% - 16.1px)
                }
            }
        }

        // Обертка картины
        .image_wrap {
            border-radius: .444rem;
            bottom: 0;
            overflow: hidden;
            display: inline-flex;
            left: calc(33.33333% + 3px);
            position: static;
            
            // Адаптив
            // Small devices (sm)
            @media (min-width: $sm) {}
            // Medium devices (md)
            @media (min-width: $md) {
            }
            // Large devices (lg)
            @media (min-width: $lg) {
                left: calc(25% + 4px);
            }
            // X-Large devices (xl)
            @media (min-width: $xl) {}
            // XX-Large devices (xxl)
            @media (min-width: $xxl) {}
            
            // Сама картинка
            img.image {
                background-repeat: no-repeat;
                display: inline-block;
                opacity: .95;
                border-radius: 20px;
                background-size: cover;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
    }
}