// Блок регистрации, авторизации
.auth_registration {
    margin: 60px 6px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;

    // Адпаптив
    // Small devices (sm)
    @media (min-width: $sm) {
        margin: 60px 6px;
    }
    // Medium devices (md)
    @media (min-width: $md) {
        margin-top: 16px;
    }
    // Large devices (lg)
    @media (min-width: $lg) {
        margin: 60px 8px;
    }
    @media (min-width: $xl) {}
    // XX-Large devices (xxl)
    @media (min-width: $xxl) {}

    // Шапка
    .header {
        display: block;
        margin: 16px auto;
        max-width: 340px;

        // Блок дял картинки
        .illustration {
            margin-bottom: 0.5rem;

            .image {
                height: 7.444rem;
            }
        }

        // Текст
        .text {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.4;
            margin: 8px auto 0;
            max-width: 305px;
        }
    }

    //Блок для регистрации
    .block_1 {
        display: block;
        text-align: center;

        // Форма регистрации
        .form_reg {
            padding-left: 6px;
            padding-right: 6px;
            margin: 0.5rem auto 1rem;
            max-width: 340px;

            // Адаптив
            // Small devices (sm)
            @media (min-width: $sm) {
                padding-left: 6px;
                padding-right: 6px;
            }
            // Medium devices (md)
            @media (min-width: $md) {
                padding-left: 6px;
                padding-right: 6px;
            }
            // Large devices (lg)
            @media (min-width: $lg) {
                padding-left: 6px;
                padding-right: 6px;
            }
            // X-Large devices (xl)
            @media (min-width: $xl) {}
            // XX-Large devices (xxl)
            @media (min-width: $xxl) {
                padding-left: 6px;
                padding-right: 6px;
            }

            .fieldsWrapper {
                flex-grow: 0.75;

                // Адаптив
                
                // Small devices (sm)
                @media (min-width: $sm) {
                    margin-right: 0;
                }
                // Large devices (lg)
                @media (min-width: $lg) {
                    flex-grow: 1;
                }
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}

                //Облать
                .field {
                    margin-top: 10px;
                    border: 1px solid #dfdfe7;
                    border-radius: 8px;
                    box-sizing: border-box;
                    min-width: 0;
                    position: relative;
                    color: #8e90a7;

                    label {
                        //Ввод
                        .input {
                            background: transparent;
                            border: 0;
                            border-radius: 4px;
                            box-sizing: border-box;
                            color: #2d2f43;
                            display: block;
                            font-size: 16px;
                            height: 48px;
                            outline: none;
                            padding: 13px 16px;
                            width: 100%;
                        }

                        // Контейнер для названия поля
                        .fieldLabelContainer {
                            font-size: 12px;
                            left: 12px;
                            line-height: 1.17;
                            overflow: hidden;
                            position: absolute;
                            right: 12px;
                            text-align: left;
                            text-overflow: ellipsis;
                            top: -8px;
                            white-space: nowrap;

                            // название поля
                            .fieldLabel {
                                background: #fff;
                                border-radius: 4px;
                                color: #b2b3c2;
                                padding: 1px 3px;
                            }
                        }
                    }
                }
            }

            //кнопка
            .submit {
                margin: 24px 0 0;
                background-color: #2d2f43;
                border: 0;
                border-radius: 8px;
                box-sizing: border-box;
                cursor: pointer;
                display: block;
                font-size: 16px;
                outline: none;
                padding: 15px 16px;
                position: relative;
                text-align: center;
                width: 100%;

                &:focus,
                &:hover {
                    background: #414462;
                }

                &.red___3UzDN {
                    background: $mainColor;
                }

                .caption {
                    color: #ffffff;
                }
            }
        }

        //Подвал
        .footer {
            color: #b2b3c2;
            font-size: 0.7rem;
            font-weight: 400;
            line-height: 1.4;
            margin: 0.8rem auto 0;
            max-width: 340px;

            // ССылка
            .link {
                color: $mainColor;
                cursor: pointer;
                text-decoration: none;

                &:hover {
                    color: $mainColor;
                }
            }

            //Гипер текст
            .hyperText {
                box-sizing: border-box;
                hyphens: auto;
                line-height: 1.4;
                overflow-wrap: break-word;
                word-wrap: break-word;

                // Условия
                .terms {
                    color: $mainColor;
                }
            }
        }
        // Востановление
        .recovery {
            display: inline-flex;
        }
    }
}
