// искать больше
.search_more {
    font-size: 0.7777rem;
    margin-bottom: 12px;
    text-align: center;
    
    // Обертка кнопки поиска
    a.button_search_more {
        border-radius: 0.38rem;
        box-sizing: border-box;
        display: inline-block;
        font-size: 1rem;
        line-height: 1.3rem;
        text-align: center;
        text-decoration: none;
        user-select: none;
        padding: 0.735em 2rem;
        border: 1px solid #2d2f43;
        color: #2d2f43;
        font-size: 0.8888rem;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            border-color: $mainColor;
            color: $mainColor;
        }
    }
}