// Поиск категории
.search_category {
    // Ссылка
    a.link {
        -ms-flex-align: center;
        align-items: center;
        box-sizing: border-box;
        color: #2d2f43;
        cursor: pointer;
        display: -ms-flexbox;
        display: flex;
        font-size: 14px;
        -webkit-font-smoothing: antialiased;
        height: 38px;
        line-height: 20px;
        padding: 0 16px;
        position: relative;
        text-decoration: none;
        height: 40px;
        &:hover {
            color: $hoverColor;
        }
        // Картинки
        img.image {
            background-repeat: no-repeat;
            display: inline-block;
            height: 20px;
            margin-right: 8px;
            width: 20px;
            background-size: contain;
            -o-object-fit: contain;
            object-fit: contain;
        }
        // Имя
        .name {
            display: inline-block;
            -ms-flex-positive: 1;
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        
    }
}