// Контейнер с контентом 
.search_empty {
    margin: 16px 8px;
    // Контейнер для основной информации
    .empty {
        margin-left: auto;
        margin-right: auto;
        padding-left: 6px;
        padding-right: 6px;
        margin-top: 48px;
        padding-bottom: 48px;
        text-align: center;

        //Адаптив
        @media(min-width:576px) {
            padding-left: 6px;
            padding-right: 6px;
        }
    
        @media(min-width:768px) {
        padding-left: 8px;
        padding-right: 8px;
        }
        
        @media(min-width:992px) {
        padding-left: 8px;
        padding-right: 8px;
        }
        
        @media(min-width:1300px) {
        padding-left: 8px;
        padding-right: 8px;
        }
        
        @media(min-width:768px) {
        margin-top: 64px;
        padding-bottom: 64px;
        }
        p {
            font-size: 24px;
            margin: auto;
        }
        // Картинка
        .image {
            max-width: 90%;
            margin-bottom: 24px;

            // Адаптив
            @media(min-width:768px) {
                margin-bottom: 32px
            }
        }
    }

    // parent 
    .parent_wrap {
        background-color: #fff;
        border-radius: 0.3333rem;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        line-height: 1em;
        padding: 0 0.6667rem 0.6667rem 0;
        margin-left: -0.6667rem;
        padding: 0;

        // Адаптив
        @media (max-width: 767.9px) {
                display: none;
        }

        //Котроль контента
        .parent {
            border: 1px solid #eee;
            border-radius: 0.1667rem;
            line-height: 1rem;
            margin-left: 0.6667rem;
            margin-top: 0.6667rem;
            position: relative;
            user-select: none;
            background-color: #f2f3f7;
            border-color: transparent;

            // Контент
            .content {
                -ms-flex-align: center;
                align-items: center;
                box-sizing: border-box;
                cursor: pointer;
                display: -ms-flexbox;
                display: flex;
                font-size: 0.7222rem;
                height: calc(1.6667rem - 2px);
                padding: 0 0.5556rem;
                font-size: 0.7779rem;
                height: calc(1.7779rem - 2px);
                margin: 0;

                // Ярлык
                .label {
                    display: flex;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                    overflow: hidden;

                    // Имя Ярлыка
                    .labelName {
                        color: #9697a1;
                        padding-right: 8px;
                    }
                    // Значение Ярлыка
                    .labelValue {
                        color: #9697a1;
                        overflow: hidden;
                        padding-right: 8px;
                        text-overflow: ellipsis;
                    }
                }

                // Стрелка меню
                .menuArrow {
                    margin-left: 0.6667rem;
                    width: 0.5rem;
                    &:hover .path {
                        fill: $mainColor;
                    }
                }
            }
        }
    }


    // mobile filter
    .mobileControls {
        display: none;

        // Адаптив
        @media (max-width: 767.9px) {
            display: -ms-flexbox;
            display: flex;
        }

        // Контейнер
        .container {
            -ms-flex-preferred-size: calc(50% - 6px);
            flex-basis: calc(50% - 6px);
            -ms-flex-positive: 1;
            flex-grow: 1;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            margin-right: 12px;
            max-width: calc(50% - 6px);

            &:last-child {
                margin-right: 0;
            }
            &:only-child {
                max-width: none;
            }

            // Дети
            .children_nowrap {
                display: block;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                // Кнопка Элемента
                .buttonInner {
                    -ms-flex-align: center;
                    align-items: center;
                    display: -ms-flexbox;
                    display: flex;
                    font-size: 14px;
                    -ms-flex-pack: center;
                    justify-content: center;
                    line-height: $text;
                    padding: 10px;

                    // Якон
                    .icon {
                        display: -ms-flexbox;
                        display: flex;
                        -ms-flex-negative: 0;
                        flex-shrink: 0;
                        margin: 0 8px;
                    }

                    // Текст
                    .text {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}