// Страница поиска
.search_page {
    // Заголовок продукта
    .header__logo__product {
        font-weight: 500;
        line-height: 28px;
        @media (max-width: 767.9px) {
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
        }
    }

    // Кнопка категории
    button.categoriesButton {
        background: none;
        border: none;
        box-shadow: none;
        padding: 0;
        align-items: center;
        cursor: pointer;
        display: none;
        font-size: 16px;
        -ms-flex-pack: center;
        justify-content: center;
        line-height: 20px;
        margin: 4px auto;

        &:after {
            background-position: 50%;
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTIuMjk1IDEuNzA1bC0xLjQxLTEuNDEtNC41OSA0LjU4LTQuNTktNC41OC0xLjQxIDEuNDEgNiA2IDYtNnoiIGZpbGw9IiMyRDJGNDMiLz48L3N2Zz4=)
                no-repeat;
            bottom: 1px;
            content: "";
            display: inline-block;
            height: 8px;
            margin-left: 8px;
            position: relative;
            width: 14px;
        }

        // Адаптив
        @media (max-width: 767.9px) {
            display: block;
        }
    }

    // .inner__element {
    //     position: relative;
    //     top: 12px;
    //     // .catalog___left {
    //     //     text-align: left;
    //     // }

    // }

    // Ссылка элемента
    .link_element {
        align-items: center;
        box-sizing: border-box;
        color: #2d2f43;
        cursor: pointer;
        display: -ms-flexbox;
        display: flex;
        font-size: 18px;
        height: 48px;
        line-height: 20px;
        position: relative;
        text-decoration: none;
        padding-right: 32px;

        // Адаптив
        @media (max-width: 886px) {
            font-size: 14px;
            padding: 0 10px;
            margin: 0 -10px;
            height: 45px;
        }

        @media (max-width: 1160px) {
            font-size: 16px;
        }

        &:hover:after {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMiAybDQgNC00IDQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmNzY3NiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+PC9zdmc+);
        }

        // Адаптив
        @media (hover: none) {
            &:hover:after {
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMiAybDQgNC00IDQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2M3YzdjYyIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+PC9zdmc+);
            }
        }

        &:after {
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMiAybDQgNC00IDQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2M3YzdjYyIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+PC9zdmc+)
                no-repeat 50%;
            content: "";
            height: 100%;
            position: absolute;
            right: 24px;
            top: 0;
            width: 8px;
        }

        // Каритнка
        img.image_icon_contain {
            background-repeat: no-repeat;
            display: inline-block;
            height: 20px;
            margin-right: 8px;
            width: 20px;
            background-size: contain;
            -o-object-fit: contain;
            object-fit: contain;

            // Имя
            .name {
                display: block;
                -ms-flex-positive: 1;
                flex-grow: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    //Левая часть кнопки
    .leftColBottom {
        margin-top: 0.8889rem;
        @media (max-width: 767.9px) {
            display: none;
        }
    }
    
    // контроль
    .controls {
        font-size: 0.7777rem;
        margin-top: 12px;
        text-align: center;

        //Адаптив
        @media (max-width: 767.9px) {
            margin-top: 32px;
        }

        // Кнопка поиска
        a.button_search {
            border-radius: 0.38rem;
            box-sizing: border-box;
            display: inline-block;
            font-size: 1rem;
            line-height: 1.3rem;
            text-align: center;
            text-decoration: none;
            user-select: none;
            padding: 0.735em 2rem;
            border: 1px solid #2d2f43;
            color: #2d2f43;
            font-size: 0.8888rem;
            font-weight: 500;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                border-color: $hoverColor;
                color: $hoverColor;
            }
        }
    }


    // Редуктор
    .reducer {
        box-sizing: border-box;
        max-width: 100%;
        margin-bottom: 12px;

        // Адаптив
        @media (min-width: 768px) {
            margin-bottom: 16px;
        }

        // Элемент
        .inner {
            box-sizing: border-box;
            max-width: 1300px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 6px;
            padding-right: 6px;

            // Популярные ссылки снизу
            .bottom_trending_links {
                display: none;

                // Адаптив
                @media (max-width: 767.9px) {
                    display: block;
                }
            }
        }
    }
}
