// Страница адресов
.addresses_page {
    display: block;
    width: 100%;
    margin: 0 auto;
    // Адреса 
    .addresses {
        width: 500px;
        margin: 0 auto;
        // Верхняя часть
        .top {
            font-size: 19px;
            font-weight: 500;
            display: flex;
            padding: 20px 24px;
            border-bottom: 1px solid #e8e8e8;
            margin: 0 3%;
             // Сам за головок адреса
            .header_addresses {
                width: 97%;
                display: flex;
                justify-content: center;
            }

            .header_clouse {
                color: rgba(45, 47, 67, .5);
                cursor: pointer;
                &:hover {
                    color: #2d2f43
                }
            }
        }
        // Новая страница адреса 
        .new_addresses_page {
            margin: 6% 8%;
            // ДОбавить адрес
            .add_addresses {
                align-items: center;
                color: #ff7676;
                cursor: pointer;
                display: inline-flex;
                font-weight: 500;

                &:focus,
                &:hover {
                    color: #fc6767;
                }
            }
        }
        // обертка кнопки для добавления адресса
        .button_addresses {
            display: flex;
            width: 100%;
            padding: 20px 24px;
        }
    }
}