// Обертка выбора одреса
.addresses_item {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    // Адаптив
    // Small devices (sm)
    @media (min-width: $sm) {}
    // Medium devices (md)
    @media (min-width: $md) { 
        margin-top: 24px;
    }
    // Large devices (lg)
    @media (min-width: $lg) {}
    // X-Large devices (xl)
    @media (min-width: $xl) {}
    // XX-Large devices (xxl)
    @media (min-width: $xxl) {}
    // Контейнер с выбором адреса
    .container {
        align-items: center;
        display: flex;
        flex-grow: 1;
        position: relative;
        user-select: none;

        //Ввод данных
        .input_address {
            left: -10000px;
            border: 0;
            font-size: 0;
            height: 0;
            opacity: 0;
            width: 0;
            position: absolute;
        }
        // Флажок
        .checkbox {
            flex-shrink: 0;
            position: relative;
            height: 1em;
            width: 1em;
            font-size: 1rem;
            // Флажок
            .border_checkbox {
                background-color: #fff;
                border:1px solid #3d3f56;
                border-radius: 50%;
                box-sizing: border-box;
                display: block;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                transform-origin: center center;
                transition: .2s ease-in-out;
                width: 100%;
                &::hover {
                    background-color: #881313;
                }
            }
            // Сама стрелка
            .check_icon {
                box-sizing: border-box;
                display: block;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                transform-origin: center center;
                transition: .2s ease-in-out;
                width: 100%;
                color: #000;
                transform: scale(.8);
                background-color: #fff;
            }
        }
        // wrap
        .label {
            flex-grow: 1;
            margin-left: 10px;
            overflow: hidden;
            // Адресс
            .address {
                display: -ms-flexbox;
                display: flex;
                margin: 0;
                // Текст 
                .text {
                    -ms-flex: 1;
                    flex: 1;
                    font-size: 14px;
                    // Строка
                    p.line {
                        word-break: break-word;
                    }
                }
                /// Действия 
                .actions {
                    margin-left: 10px;
                    text-align: right;
                    // Кнопка 
                    .button_address {
                        font-size: 12px;
                        border: 1px solid #e0e0e0;
                        border-radius: 3rem;
                        box-sizing: border-box;
                        cursor: pointer;
                        display: inline-block;
                        margin-bottom: 8px;
                        min-width: 7em;
                        padding: .7143em 1.1429em;
                        text-align: center;
                        transition: border .3s ease-in-out;
                        white-space: nowrap;

                        &:last-child {
                            margin-bottom: 0;
                        }
                        
                        &:hover {
                            border-color: $hoverColor;
                        }
                        
                        // Удалить
                        .remove {
                            color: $mainColor;
                        }

                        // Адаптив
                        // Small devices (sm)
                        @media (min-width: $sm) {}
                        // Medium devices (md)
                        @media (min-width: $md) {  
                            font-size: 14px;
                        }
                        // Large devices (lg)
                        @media (min-width: $lg) {}
                        // X-Large devices (xl)
                        @media (min-width: $xl) {}
                        // XX-Large devices (xxl)
                        @media (min-width: $xxl) {}
                    }
                }
                
            }
        }
    }
}