// Полный лист
.fullSheetLong {
    position: relative;
    overflow-y: hidden;

    // Адаптив
    @media (max-width: 839.9px) {
        margin-left: -12px;
        margin-right: -12px;
    }
    @media (max-width: 839.9px) and (min-width: 768px) {
        margin-left: -16px;
        margin-right: -16px;
    }
    // Обертка с контентом
    .wrapper_content {

        &::-webkit-scrollbar {
            display: none;
        }
    }
    // Элемент
    .inner {
        align-items: stretch;
        display: flex;
        flex-wrap: nowrap;
        margin: -16px 0 0 -16px;
    }
}

// Отдельные классы  другого шаблона, которые стоит потом вынести в отдельный scss
// Ячейка
.cell {
    box-sizing: border-box;
    flex-basis: calc(100% - 16.1px);
    flex-grow: 0;
    flex-shrink: 0;
    margin: 16px 0 0 16px;
    max-width: calc(100% - 16.1px);
    width: calc(100% - 16.1px);
    scroll-snap-align: start;


    @media (max-width:640px) {
        display: none;
    }
    // Обертка
    a.wrapper {
        display: block;
        overflow: hidden;
        position: relative;
        border-radius: 15px;
        background-color: rgb(255, 185, 0);
        // Элемент
        .item {
            border-radius: 8px;
            overflow: hidden;
            position: relative;
            color: #2d2f43;
            // Контент
            .content {
                display: flex;
                height: 352px;
                overflow: hidden;
                position: relative;
                border-radius: 8px;
                color: #2d2f43;
                // Контейнер под текст
                .textWrap {
                    margin: $mc;
                    max-width: 100%;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    max-width: 544px;
                    display: -ms-flexbox;
                    display: flex;
                    position: relative;
                    color: #fff;

                    h1 {
                        font-weight: 600;
                    }
                    p {
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
                // Сворачивать картинку
                .image_wrap {
                    flex-direction: column;
                    flex-grow: 1;
                    max-width: 544px;
                    padding: 32px 8px;
                    width: 50%;

                    @media (min-width:724px) {
                        max-width: 340px;
                        padding: 40px 0px;
                    }

                    @media (min-width:968px) {
                        max-width: 360px;
                    }

                    @media (min-width:1000px) {
                        max-width: 400px;
                    }

                    @media (min-width:1240px) {
                        padding: 34px 80px;
                        max-width: 480px;
                    }
                    // Блок под картинку
                    .imagePlaceholder {
                        max-width: 288px;
                        width: 100%;
                        padding-top: 100%;
                        position: relative;
                        // Контейнер под картинку
                        .block {
                            border-radius: inherit;
                            bottom: 0;
                            left: 0;
                            position: absolute;
                            right: 0;
                            top: 0;
                            // Сама кортинка
                            .image {
                                background-repeat: no-repeat;
                                display: inline-block;
                                transform-origin: center;
                                transition: transform 0.3s ease-in-out;
                                width: 100%;
                                @include contain;
                            }
                        }
                    }
                }
            }
        }
    }

    // Может стоит занести внутрь класса wrapper
    .clickable {
        cursor: pointer;
        text-decoration: none;
    }
}