// Первый слайдер
.promoslider_item_one {
    box-sizing: content-box;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 12px;
    pointer-events: none;
    scroll-snap-align: start;

    &:first-child {
        margin-left: 0;
    }

    // Адаптив
    
    // Small devices (sm)
    @media (min-width: $sm) {
        box-sizing: content-box;
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        max-width: 48%;
        margin-left: 12px;

        &:first-child {
            margin-left: 0;
        }
    }
    // Small devices (sm)
    @media (min-width: $sm) {
        box-sizing: content-box;
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        max-width: 96%;
        margin-left: -12px;
        padding: 0 12px;

        &:first-child {
            margin-left: 0;
        }
    }
    // Medium devices (md)
    @media (min-width: $md) {
        box-sizing: content-box;
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        max-width: 46%;
        margin-left: 16px;

        &:first-child {
            margin-left: 0;
        }
    }
    // Large devices (lg)
    @media (min-width: $lg) {
        box-sizing: content-box;
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        max-width: 33%;
        margin-left: 16px;

        &:first-child {
            margin-left: 0;
        }
    }
    // X-Large devices (xl)
    @media (min-width: $xl) {
        box-sizing: content-box;
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        max-width: 33%;
        margin-left: 16px;

        &:first-child {
            margin-left: 0;
        }
    }

    // Обертка
    a.wrapper {
        display: block;
        overflow: hidden;
        position: relative;
        // Элемент
        .item {
            border-radius: 8px;
            color: #2d2f43;
            overflow: hidden;
            pointer-events: auto;
            position: relative;
            transform: translateZ(0);
            // Блок
            .block_back {
                bottom: 0;
                display: block;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
            }
            // Контент элемента
            .content_item {
                align-items: center;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                height: 240px;
                padding: 12px 12px 24px;
                position: relative;
                // Обертка текста
                .text_wrap {
                    box-sizing: border-box;
                    color: #2d2f43;
                    padding: 10px;
                    text-align: center;
                    width: 100%;
                    // Заголовок
                    .title {
                        font-size: 20px;
                        line-height: 24px;
                    }

                    // Пробел
                    .spacer {
                        flex-grow: 1;
                    }
                    
                    // Подзаголовок
                    .subtitle {
                        font-size: 14px;
                        line-height: 16px;
                        margin-top: 6px;
                    }

                    .subtitle,
                    .title {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                // Обертка картинки
                .image_wrap {
                    height: 132px;
                    transition: transform 0.15s ease-in-out;
                    transform-origin: center;
                    width: 132px;
                    // Сама картинка
                    img.img {
                        background-repeat: no-repeat;
                        display: inline-block;
                        height: 100%;
                        width: 100%;
                        @include contain;
                    }
                }
            }
        }
    }
}
