// Оберкта Промослайдера
.promoslider_wrap {
    // Вверхняя часть
    .top {
        align-items: baseline;
        color: #2d2f43;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 16px;
        // Заголовок
        .title {
            display: block;
            flex-grow: 1;
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    // Три элементка
    .three_in_row {
        position: relative;
        
        margin:0 -12px;
        // Адаптив
        // Small devices (sm)
        @media (min-width: $sm) {}
        // Medium devices (md)
        @media (min-width: $md) {
            margin:0 -16px;
        }
        // Large devices (lg)
        @media (min-width: $lg) {}
        // X-Large devices (xl)
        @media (min-width: $xl) {}
        // XX-Large devices (xxl)
        @media (min-width: $xxl) {}
        
        // Оберка контента
        .content_wrap {
            &::-webkit-scrollbar {
                display: none;
            }
        }

        // Элемент
        .items {
            align-items: stretch;
            display: flex;
            flex-wrap: nowrap;
        }
    }
}