// Обертка
.breadcrumbs {
    display: initial;
    // Категория списка элементов
    .item_list_category {
        color: #9697a1;
        &:before {
            content: "/";
            margin-right: 1ex;
        }
        
        &:first-child:before {
            display: none;
        }
        // Ссылка
        a.link {
            color: #9697a1;
            text-decoration: none;
            
            &:focus:not([href=""]),
            &:hover:not([href=""]) {
                color: $mainColor;
                text-decoration: underline;
            }
            span {
                margin-right: 2px;
            }
        }
        .link[href=""] {
            cursor: default;
        }
        
    }
}