// самый низ
footer.footer {
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    max-width: 100%;
    margin-top: 12px;
    color: #9697a1;
    font-size: 14px;
    left: 0;
    position: relative;
    right: 0;
    // Адаптив
    @media (max-width: 767.9px) {
        font-size: 12px;
        line-height: 1.2;
    }
    @media (min-width: 768px) {
        margin-bottom: 16px;
        padding-left: 6px;
        padding-right: 6px;
    }
    @media (min-width: 768px) {
        padding-left: 8px;
    }
    @media (min-width: 768px) {
        padding-right: 8px;
    }
    @media (max-width: 991.9px) {
        padding-left: 5%;
        padding-right: 0;
    }
    // Ссылки
    .links {
        box-sizing: border-box;
        line-height: 1.46rem;
        padding: 0.7rem 0;
        // обертка ссылкок
        .wrapper {
            display: inline-block;
            margin-right: 1.5rem;
            // Сами ссылки
            // спросить нужно ли обвертывать тег а или нет. По факту как я сделал так можно , но мне кажется можно и не обвертывать
            .link {
                color: #9697a1;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    color: $hoverColor;
                }
                &:hover {
                    text-decoration: none;
                }
            }
        }
        // Адаптив
        @media (max-width: 767.9px) {
            display: block;
        }
        @media (max-width: 767.9px) {
            padding-bottom: 0;
        }
    }
    // кто сделал
    .xdb {
        box-sizing: border-box;
        line-height: 1.46rem;
        padding: 0.7rem 0;
        @media (max-width: 767.9px) {
            border-top: none;
            margin-top: 0.4rem;
        }
        /// Значки магазинов
        .badges {
            display: flex;
            float: right;
            // спросить нужно ли обвертывать тег а или нет. По факту как я сделал так можно , но мне кажется можно и обвернуть див
            a {
                display: inline-block;
                margin: 5px;
                // Адаптив
                @media (min-width: 768px) {
                    margin: 8px;
                }
            }
        }
        // Адаптив
        @media (max-width: 767.9px) {
            float: none;
            margin-top: 5px;
        }
    }
    // Капча
    .recaptcha {
        color: #9697a1;
        font-size: 10px;
        text-align: right;
        padding-bottom: 12px;
        // Адаптив
        @media (min-width: 768px) {
            padding-bottom: 16px;
        }
        // Адаптив
        @media (max-width: 767.9px) {
            text-align: left;
        }
        a {
            color: #9697a1;
        }
    }
}
