// самый низ 
footer.footer {
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    max-width: 100%;
    color: #9697a1;
    font-size: 14px;
    left: 0;
    position: relative;
    right: 0;
    font-size: 12px;
    line-height: 1.2;
    padding-left: 5%;
    padding-right: 0;

    // Адаптив
    // Small devices (sm)
    @media (min-width: $sm) {
        font-size: 14px;
        line-height: normal;
    }
    @media (min-width: $md) {
        margin-bottom: 16px;
        padding: 0 12px;
    }
    @media (min-width: $lg) {
        padding-left: 2%;
    }
    // X-Large devices (xl)
    @media (min-width: $xl) {}
    // XX-Large devices (xxl)
    @media (min-width: $xxl) {}
    // Ссылки
    .links {
        box-sizing: border-box;
        line-height: 1.46rem;
        padding: 0.7rem 0;
        display: block;
        // обертка ссылкок
        .wrapper {
            display: inline-block;
            margin-right: 1.5rem;
            // Сами ссылки
            // спросить нужно ли обвертывать тег а или нет. По факту как я сделал так можно , но мне кажется можно и не обвертывать
            .link {
                color: #9697a1;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    color: $hoverColor;
                }
                &:hover {
                    text-decoration: none;
                }
            }
        }
        // Адаптив

        // Small devices (sm)
        @media (min-width: $sm) {}
        // Medium devices (md)
        @media (min-width: $md) {}
        // Large devices (lg)
        @media (min-width: $lg) {}
        // X-Large devices (xl)
        @media (min-width: $xl) {}
        // XX-Large devices (xxl)
        @media (min-width: $xxl) {}
    }
    // кто сделал
    .xdb {
        box-sizing: border-box;
        line-height: 1.46rem;
        padding: 0.7rem 0;
        float: none;
        margin-top: 5px;
        border-top: none;
        margin-top: 0.4rem;
        /// Значки магазинов
        .badges {
            display: flex;
            float: right;
            // спросить нужно ли обвертывать тег а или нет. По факту как я сделал так можно , но мне кажется можно и обвернуть див
            a {
                display: inline-block;
                margin: 5px;
                // Адаптив

                // Small devices (sm)
                @media (min-width: $sm) {}
                // Medium devices (md)
                @media (min-width: $md) {
                    margin: 8px;
                }
                // Large devices (lg)
                @media (min-width: $lg) {}
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}
            }
        }
    }
    // Капча
    .recaptcha {
        color: #9697a1;
        font-size: 10px;
        text-align: left;
        padding-bottom: 12px;
        // Адаптив
        // Small devices (sm)
        @media (min-width: $sm) {
            text-align: right;
        }
        // Medium devices (md)
        @media (min-width: $md) {
            padding-bottom: 16px;
        }
        // Large devices (lg)
        @media (min-width: $lg) {}
        // X-Large devices (xl)
        @media (min-width: $xl) {}
        // XX-Large devices (xxl)
        @media (min-width: $xxl) {}
        a {
            color: #9697a1;
        }
    }
}
