// Вердхний контейнер
header.header {
    // Верняя шапка 
    .header_top {
        background-color: $white;
        max-height: 32px;
        
        @media (max-width: 390px){
                display: none;

        }
        // Панель навигации 
        .nav_bar {
            box-sizing: border-box;
            display: -ms-flexbox;
            display: flex;
            height: 32px;
            max-width: 1300px;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;


            // Мобильная разработка
            @media (min-width: 576px) {
                    padding-left: 6px;
                    padding-right: 6px;
            }
            @media (min-width: 768px) {
                    padding-left: 8px;
                    padding-right: 8px;
            }
            @media (min-width: 992px) {
                    padding-left: 8px;
                    padding-right: 8px;
            }
            @media (min-width: 1300px) {
                    padding-left: 8px;
                    padding-right: 8px;
            }
            @media (min-width: 768px) {
                    padding-left: 8px;
                    padding-right: 8px;
            }
            // Левая секция
            .left_section{
                -ms-flex-align: center;
                align-items: center;
                display: flex;
                // Панель навигации по языкам 
                .navBar_language {
                    display: -ms-flexbox;
                    display: flex;
                    margin: 0 16px;
        
                    &:first-child {
                        margin-left: 0;
                    }
        
                    &:last-child {
                        margin-right: 0;
                    }
                    //обертка для языка 
                    .wrapper {
                        cursor: pointer;
                        user-select: none;
                        // Кнопка для выбора языка 
                        .select_button {
                            -ms-flex-align: center;
                            align-items: center;
                            display: -ms-flexbox;
                            display: flex;
                            font-size: 12px;
                            -ms-flex-pack: center;
                            justify-content: center;
                            line-height: 20px;
                            white-space: nowrap;
                            width: 100%;
                            // обертка картинки языка
                            .icon {
                                cursor: pointer;
                                margin-right: 6px;
                                // Сама картинка
                                img.image {
                                    // selectImage___1gRYp
                                    height: 9px;
                                    width: 12px;
                                    //image___1qeww
                                    border-radius: 0.1111rem;
                                    box-shadow: 0 0 0 1px hsla(0, 0%, 80%, 0.48);
                                    height: 0.7925rem;
                                    width: 1.1111rem;
                                }
                            }
                            // Картинка выподающего меню
                            svg.selectArrow {
                                margin-left: 4px;
                            }
                        }
                        // Кнопка при нажатии на нее , выпадает список с возможными языками
                        .button_lang{
                            align-items: center;
                            color: #3d3f56;
                            cursor: pointer;
                            display: -ms-flexbox;
                            display: flex;
                            font-size: 0.7777rem;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            font-size: 12px;
        
                            &:hover {
                                color: $hoverColor;
                            }
                        }
                    }
                }
            }
            // Правая секция
            .right_section {

                display: -ms-flexbox;
                display: flex;
                -ms-flex-align: start;
                align-items: flex-start;
                -ms-flex-positive: 1;
                flex-grow: 1;
                // Навигация по доставки , поддержки , гарантии
                nav {
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -ms-flex-pack: end;
                    justify-content: flex-end;
                    overflow: hidden;
                    // Ссылка
                    a {
                        display: -ms-flexbox;
                        display: flex;
                        margin: 0 16px;
                        -ms-flex-align: center;
                        align-items: center;
                        color: #8e90a7;
                        font-size: 12px;
                        height: 32px;
                        line-height: 20px;
                        text-decoration: none;
                        white-space: nowrap;
                        &:hover {
                            color: $hoverColor;
                        }
                    }
                }
            }
    
        }
     
    }
    //Нижняя шапка
    .header__button {

        background-color: #fff;
        position: relative;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 24px;

        // Адаптив
        @media (min-width: 390px){
                padding-top: 0;         
        }

        @media (min-width: 768px) {
                padding-left: 8px;
                padding-right: 8px;
        }
        
        // Разбиение частей на блоки
        .tables { 
            border-collapse: collapse;
            display: table;
            line-height: 1.2;
            width: 100%;
            height: 56px;

            // контейнер где храниться выпадающая менюшка 
            .side {
                display: table-cell;
                vertical-align: middle;
                white-space: nowrap;
                // Вызывает открытие меню
                .burger {
                    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyMSI+PHBhdGggZmlsbD0iIzNkM2Y1NiIgZD0iTTIyLjUgOWgtMjFBMS40MiAxLjQyIDAgMDAwIDEwLjUgMS40MiAxLjQyIDAgMDAxLjUgMTJoMjFhMS40MiAxLjQyIDAgMDAxLjUtMS41QTEuNDIgMS40MiAwIDAwMjIuNSA5em0wLTloLTIxQTEuNDIgMS40MiAwIDAwMCAxLjUgMS40MiAxLjQyIDAgMDAxLjUgM2gyMUExLjQyIDEuNDIgMCAwMDI0IDEuNSAxLjQyIDEuNDIgMCAwMDIyLjUgMHptMCAxOGgtMjFhMS41IDEuNSAwIDAwMCAzaDIxYTEuNSAxLjUgMCAwMDAtM3oiLz48L3N2Zz4=)
                        50% 50% no-repeat;
                    background-size: contain;
                    cursor: pointer;
                    display: block;
                    height: 14px;
                    -webkit-tap-highlight-color: transparent;
                    width: 18px;
                    margin-right: 12px;
                    // Адаптив
                    @media (min-width: 768px) {
                            margin-right: 16px;
                            display: none;
                    }
                }
            }
            // Контейнер для логотипа
            .logo_header_button {
                display: table-cell;
                vertical-align: middle;
                // Сам логотим
                .logo {
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-align: center;
                    align-items: center;
                    margin-right: 32px;
                    -webkit-tap-highlight-color: transparent;
                    // Адаптив
                    @media (max-width: 400px) {
                            margin-right: 0;
                    }
                }
            }
            // Блок с поиском 
            .content {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
            }
            //правая часть header_button . Переписать заново , так как не нравится старая  структура , так как не нравится вложеность 
            .right_panel {
                display: table-cell;
                vertical-align: middle;
                // Блок с элементами
                .items {
                    display: flex;
                    vertical-align: middle;
                    -ms-flex-direction: row;
                    flex-direction: row;
                    height: 100%;
                    margin-left: 16px;
                    // Блоки
                    .block {
                        display: -ms-flexbox;
                        display: flex;
                        margin: 0 16px;
                        // Адаптив
                        @media (max-width: 767.9px) {
                                margin: 0 12px;
                        }
                        @media (max-width: 400px) {
                                margin: 0 8px;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    // Блок с данными 
                    .block_inner {
                        align-items: center;
                        display: -ms-flexbox;
                        display: flex;
                        cursor: pointer;
                        user-select: none;
                        text-decoration: none;

                        .inner {
                            align-content: center;
                            flex-direction: column;
                            justify-content: center;
                             // Иконки Элементов
                            .item_icon {
                                height: 26px;
                                margin: 0 auto;
                                position: relative;
                                width: 26px;

                                // Индификация 
                                .indicator{
                                    background: $mainColor;
                                    border-radius: 20px;
                                    color: #fff;
                                    display: block;
                                    font-size: 10px;
                                    font-weight: 500;
                                    height: 14px;
                                    line-height: 14px;
                                    margin-left: 0;
                                    min-width: 14px;
                                    padding: 1px;
                                    position: absolute;
                                    right: -8px;
                                    text-align: center;
                                    top: -8px;
                                    -webkit-user-select: none;
                                    -moz-user-select: none;
                                    -ms-user-select: none;
                                    user-select: none;
                                }
                            }
                            // Адаптив
                            @media (max-width: 991.9px) {
                                    margin-bottom: 0;
                                    margin-top: 2px;
                            }

                            h6 {
                                &:hover { 
                                    color:$hoverColor;
                                }
                            }
                            // Имя Элемента
                            .name_inner {
                                color: #3d3f56;
                                font-weight: 500;
                                line-height: 20px;
                                text-decoration: none;
                                
                                // Адаптив
                                @media (max-width: 991.9px) {
                                        display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//  Адаптив поиска 
.mobaile_search {
    display: none;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
    display: block;
    padding: 10px 12px 16px;
    
    // Адаптив
    @media (min-width: 768px) {
            padding-left: 16px;
            padding-right: 16px;
            display: none;
    }

    // Форма
    form {
        position: relative;
        //Внутренняя настройка
        .inner {
            display: flex;
            height: 48px;
            width: 100%;
            align-items: center;
            display: flex;
            flex-grow: 1;
            vertical-align: middle;
            width: auto;
            border-radius: 8px;
            background: #f5f6f9;
            // Строка поиска
            .label {
                flex-grow: 1;
                position: relative;
                display: inline-block;
                margin: 0;
                padding: 0;
                height: 48px;
                border: radius 8px;

                &::placeholder {
                    .inner {
                        color: #9697a1;
                    }
                
                }

                input {
                    // Подсвечивается что тут ошибка
                    // webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background: none;
                    border: 0;
                    border-radius: 8px;
                    box-sizing: border-box;
                    font-size: 16px;
                    height: 48px;
                    line-height: 18px;
                    outline: none;
                    padding: 0 32px 0 16px;
                    transition: background .3s ease-in-out;
                    width: 100%;
                    padding-left: 8px;

                    &:-ms-clear {
                        display: none;
                    }
                    &:-moz-placeholder {
                        color: #9697a1;
                    }
                    &:-ms-input-placeholder {
                        color: #9697a1;
                    }
                    &:focus {
                        background: #ededed;
                    }
                }
 
            }
        }        
    }
}