// Вердхний контейнер
header.header {
    // Верняя шапка
    .header_top {
        display: none;
        background-color: $white;
        max-height: 32px;

        // Адаптив

        // Small devices (sm)
        @media (min-width: $sm) {
            display: block;
        }
        // Medium devices (md)
        @media (min-width: $md) {}
        // Large devices (lg)
        @media (min-width: $lg) {}
        // X-Large devices (xl)
        @media (min-width: $xl) {}
        // XX-Large devices (xxl)
        @media (min-width: $xxl) {}

        // Панель навигации
        .nav_bar {
            box-sizing: border-box;
            display: -ms-flexbox;
            display: flex;
            height: 32px;
            max-width: 1300px;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;

            // Адаптив

            // Small devices (sm)
            @media (min-width: $sm) {
                padding: 0 6px;
            }
            // Medium devices (md)
            @media (min-width: $md) {
            }
            // Large devices (lg)
            @media (min-width: $lg) {
            }
            // X-Large devices (xl)
            @media (min-width: $xl) {}
            // XX-Large devices (xxl)
            @media (min-width: xxl) {
            }
            // Левая секция
            .left_section {
                -ms-flex-align: center;
                align-items: center;
                display: flex;
                // Панель навигации по языкам
                .navBar_language {
                    display: -ms-flexbox;
                    display: flex;
                    margin: 0 16px;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                    //обертка для языка
                    .wrapper {
                        cursor: pointer;
                        user-select: none;
                        // Кнопка для выбора языка
                        .select_button {
                            -ms-flex-align: center;
                            align-items: center;
                            display: -ms-flexbox;
                            display: flex;
                            font-size: 12px;
                            -ms-flex-pack: center;
                            justify-content: center;
                            line-height: 20px;
                            white-space: nowrap;
                            width: 100%;
                            // обертка картинки языка
                            .icon {
                                cursor: pointer;
                                margin-right: 6px;
                                // Сама картинка
                                img.image {
                                    height: 9px;
                                    width: 12px;
                                    border-radius: 0.1111rem;
                                    box-shadow: 0 0 0 1px hsla(0, 0%, 80%, 0.48);
                                    height: 0.7925rem;
                                    width: 1.1111rem;
                                }
                            }
                            // Картинка выподающего меню
                            svg.selectArrow {
                                margin-left: 4px;
                            }
                        }
                        // Кнопка для переключения языка
                        .counter {
                            &:hover {
                                color: $mainColor;
                            }
                        }
                        // Кнопка при нажатии на нее , выпадает список с возможными языками
                        .button_lang {
                            align-items: center;
                            color: #3d3f56;
                            cursor: pointer;
                            display: -ms-flexbox;
                            display: flex;
                            font-size: 0.7777rem;
                            user-select: none;
                            font-size: 12px;

                            &:hover {
                                color: $hoverColor;
                            }
                        }
                    }
                }
            }
            // Правая секция
            .right_section {
                display: -ms-flexbox;
                display: flex;
                align-items: flex-start;
                flex-grow: 1;
                // Навигация по доставки , поддержки , гарантии
                nav {
                    display: -ms-flexbox;
                    display: flex;
                    flex-grow: 1;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    overflow: hidden;
                    // Ссылка
                    a {
                        display: -ms-flexbox;
                        display: flex;
                        margin: 0 16px;
                        align-items: center;
                        color: #8e90a7;
                        font-size: 12px;
                        height: 32px;
                        line-height: 20px;
                        text-decoration: none;
                        white-space: nowrap;
                        &:hover {
                            color: $hoverColor;
                        }
                    }
                }
            }
        }
    }
    //Нижняя шапка
    .header__button {
        padding-top: 0;
        background-color: #fff;
        position: relative;
        // Адаптив
        
        // Small devices (sm)
        @media (min-width: $sm) {}
        // Medium devices (md)
        @media (min-width: $md) {
            padding: 0 8px;
            padding-left: 6px;
            padding-right: 6px;
            padding-top: 24px;
    
        }
        // Large devices (lg)
        @media (min-width: $lg) {}
        // X-Large devices (xl)
        @media (min-width: $xl) {}
        // XX-Large devices (xxl)
        @media (min-width: $xxl) {}

        // Разбиение частей на блоки
        .tables {
            border-collapse: collapse;
            display: table;
            line-height: 1.2;
            width: 100%;
            height: 56px;

            // контейнер где храниться выпадающая менюшка
            .side {
                display: table-cell;
                vertical-align: middle;
                white-space: nowrap;
                // Вызывает открытие меню
                .burger {
                    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyMSI+PHBhdGggZmlsbD0iIzNkM2Y1NiIgZD0iTTIyLjUgOWgtMjFBMS40MiAxLjQyIDAgMDAwIDEwLjUgMS40MiAxLjQyIDAgMDAxLjUgMTJoMjFhMS40MiAxLjQyIDAgMDAxLjUtMS41QTEuNDIgMS40MiAwIDAwMjIuNSA5em0wLTloLTIxQTEuNDIgMS40MiAwIDAwMCAxLjUgMS40MiAxLjQyIDAgMDAxLjUgM2gyMUExLjQyIDEuNDIgMCAwMDI0IDEuNSAxLjQyIDEuNDIgMCAwMDIyLjUgMHptMCAxOGgtMjFhMS41IDEuNSAwIDAwMCAzaDIxYTEuNSAxLjUgMCAwMDAtM3oiLz48L3N2Zz4=)
                        50% 50% no-repeat;
                    background-size: contain;
                    cursor: pointer;
                    display: block;
                    height: 14px;
                    width: $text;
                    margin-right: 12px;
                    // Адаптив

                    // Small devices (sm)
                    @media (min-width: $sm) {}
                    // Medium devices (md)
                    @media (min-width: $md) {
                        margin-right: 16px;
                        display: none;
                    }
                    // Large devices (lg)
                    @media (min-width: $lg) {}
                    // X-Large devices (xl)
                    @media (min-width: $xl) {}
                    // XX-Large devices (xxl)
                    @media (min-width: $xxl) {}
                }

                .offcanvas-body {
                    width: 280px;
                    nav.list-unstyled {

                        .child_1 {
                            align-items: center;
                            color: #2d2f43;
                            cursor: pointer;
                            display: -ms-flexbox;
                            display: flex;
                            font-size: 14px;
                            line-height: 16px;
                            overflow: hidden;
                            padding: 14px 36px 14px 52px;
                            position: relative;
                            text-decoration: none;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                            &:hover {
                                color: $mainColor;
                                &:after {
                                    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4Ljk3IDE0Ljk3Ij48cGF0aCBmaWxsPSIjZmY3Njc2IiBkPSJNMS40NiAxNC45NkwwIDEzLjZsNi4xNC02LjFMMCAxLjM2IDEuNDYgMGw3LjUgNy40OC03LjUgNy40OCIvPjwvc3ZnPg==);
                                }
                            }

                            &::after {
                                background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4Ljk3IDE0Ljk3Ij48cGF0aCBmaWxsPSIjYzdjN2NjIiBkPSJNMS40NiAxNC45NkwwIDEzLjZsNi4xNC02LjFMMCAxLjM2IDEuNDYgMGw3LjUgNy40OC03LjUgNy40OCIvPjwvc3ZnPg==)
                                    50% 50% no-repeat;
                                background-size: contain;
                                content: "";
                                height: 12px;
                                margin-top: -6px;
                                position: absolute;
                                right: 16px;
                                top: 50%;
                                width: 12px;
                            }

                            .icon {
                                height: 20px;
                                left: 1em;
                                line-height: 1;
                                margin-top: -1px;
                                padding: 2px;
                                position: absolute;
                                text-align: center;
                                vertical-align: middle;
                                width: 20px;

                                .img {
                                    background-repeat: no-repeat;
                                    display: inline-block;
                                    height: 100%;
                                    width: 100%;
                                    @include contain;
                                }
                            }
                            
                            .text {
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }

                        .separator{
                            background: #f5f6f9;
                            height: 1px;
                            margin: 8px 16px;
                        }

                        .burger_footer_buttons_wrap {
                            display: flex;
                            margin: 8px;

                            .burger_footer_buttons {
                                align-items: stretch;
                                color: #9697a1;
                                display: -ms-flexbox;
                                display: flex;
                                font-size: 14px;
                                line-height: 16px;
                                margin: 0 8px;
                                text-decoration: none;
                                width: 50%;

                                .visually_hidden {
                                    position: absolute;
                                    overflow: hidden;
                                    clip: rect(0 0 0 0);
                                    height: 1px;
                                    width: 1px;
                                    margin: -1px;
                                    padding: 0;
                                    border: 0
                                }

                                .button_wrapper {
                                    width: 100%;

                                    .button_language {
                                        display: block;
                                        width: 100%;
                                        background: #f3f3f5;
                                        border: 1px solid #f3f3f5;
                                        color: #2d2f43;
                                        padding: .735em 1em;
                                        border-radius: .38em;

                                        &:hover {
                                            background: #eeeef0;
                                            border-color: #eeeef0
                                        }

                                        .language {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            position: relative;

                                            .icon {
                                                cursor: pointer;
                                                margin-right: 6px;

                                                img.image {
                                                    height: 9px;
                                                    width: 12px;
                                                    border-radius: 0.1111rem;
                                                    box-shadow: 0 0 0 1px hsla(0, 0%, 80%, 0.48);
                                                    height: 0.7925rem;
                                                    width: 1.1111rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .parent{
                                display: flex;
                                flex-grow: 1;
                                white-space: nowrap;

                                .button_cell {
                                    background: #f3f3f5;
                                    border: 1px solid #f3f3f5;
                                    color: #2d2f43;
                                    padding: .735em 1em;
                                    display: block;
                                    width: 100%;
                                    border-radius: .38em;

                                    &:hover {
                                        background: #eeeef0;
                                        border-color: #eeeef0;
                                    }

                                    &:active {
                                        background: #e3e3e6;
                                        border-color: #e3e3e6;
                                    }

                                    &:disabled {
                                        &:active,
                                        &:hover {
                                            color: #91929f;
                                        }
                                    }
                                }
                            }
                        }

                        .burger_footer_link {
                            color: #9697a1;
                            display: -ms-flexbox;
                            display: flex;
                            font-size: 14px;
                            line-height: 16px;
                            padding: 14px 16px;
                            text-decoration: none;

                            &:focus,
                            &:hover {
                                text-decoration: underline;
                            }

                            .text {
                                -ms-flex-align: center;
                                align-items: center;
                                display: -ms-flexbox;
                                display: flex;
                            }
                        }
                    }
               }
            }
            // Контейнер для логотипа
            .logo_header_button {
                display: table-cell;
                vertical-align: middle;
                // Сам логотим
                .logo {
                        margin-right: 0;
                    display: -ms-flexbox;
                    display: flex;
                    align-items: center;
                    // Адаптив

                    // Small devices (sm)
                    @media (min-width: $sm) {
                        margin-right: 32px;
                    }
                    // Medium devices (md)
                    @media (min-width: $md) {}
                    // Large devices (lg)
                    @media (min-width: $lg) {}
                    // X-Large devices (xl)
                    @media (min-width: $xl) {}
                    // XX-Large devices (xxl)
                    @media (min-width: $xxl) {}

                }
            }
            // Блок с поиском
            .content {
                vertical-align: middle;
                width: 100%;
                display: none;
                // Адаптив

                // Small devices (sm)
                @media (min-width: $sm) {
                    display: table-cell;
                }
                // Medium devices (md)
                @media (min-width: $md) {}
                // Large devices (lg)
                @media (min-width: $lg) {}
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}
            }
            //правая часть header_button . Переписать заново , так как не нравится старая  структура , так как не нравится вложеность
            .right_panel {
                display: table-cell;
                vertical-align: middle;
                // Блок с элементами
                .items {
                    display: flex;
                    vertical-align: middle;
                    flex-direction: row;
                    height: 100%;
                    margin-left: 16px;
                    // Блоки
                    .block {
                        display: flex;
                            margin: 0 8px;
                        // Адаптив

                        
                        // Small devices (sm)
                        @media (min-width: $sm) {
                            margin: 0 12px;
                        }
                        // Medium devices (md)
                        @media (min-width: $md) {
                            margin: 0 16px;
                        }
                        // Large devices (lg)
                        @media (min-width: $lg) {}
                        // X-Large devices (xl)
                        @media (min-width: $xl) {}
                        // XX-Large devices (xxl)
                        @media (min-width: $xxl) {}

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    // Блок с данными
                    .block_inner {
                        width: 100%;
                        align-items: center;
                        display: flex;
                        cursor: pointer;
                        user-select: none;
                        text-decoration: none;

                        // Адаптив

                        // Small devices (sm)
                        @media (min-width: $sm) {}
                        // Medium devices (md)
                        @media (min-width: $md) {}
                        // Large devices (lg)
                        @media (min-width: $lg) {}
                        // X-Large devices (xl)
                        @media (min-width: $xl) {}
                        // XX-Large devices (xxl)
                        @media (min-width: $xxl) {}

                        .inner {
                            margin-bottom: 0;
                            // Иконки Элементов
                            .item_icon {
                                height: 26px;
                                margin: $mc;
                                position: relative;
                                width: 26px;

                                // Индификация
                                .indicator {
                                    background: $mainColor;
                                    border-radius: 20px;
                                    color: #fff;
                                    display: block;
                                    font-size: 10px;
                                    font-weight: 500;
                                    height: 14px;
                                    line-height: 14px;
                                    margin-left: 0;
                                    min-width: 14px;
                                    padding: 1px;
                                    position: absolute;
                                    right: -8px;
                                    text-align: center;
                                    top: -8px;
                                    user-select: none;
                                }
                            }
                            // Адаптив

                            // Small devices (sm)
                            @media (min-width: $sm) {}
                            // Medium devices (md)
                            @media (min-width: $md) {}
                            // Large devices (lg)
                            @media (min-width: $lg) {}
                            // X-Large devices (xl)
                            @media (min-width: $xl) {}
                            // XX-Large devices (xxl)
                            @media (min-width: $xxl) {}

                            h6 {
                                &:hover {
                                    color: $hoverColor;
                                }
                            }
                            // Имя Элемента
                            .name_inner {
                                display: none;
                                color: #3d3f56;
                                font-weight: 500;
                                font-size: 12px;
                                text-decoration: none;
                                width: 70px;
                                position: inherit;

                                // Адаптив
                                
                                // Small devices (sm)
                                @media (min-width: $sm) {}
                                // Medium devices (md)
                                @media (min-width: $md) {
                                    display: block;
                                }
                                // Large devices (lg)
                                @media (min-width: $lg) {}
                                // X-Large devices (xl)
                                @media (min-width: $xl) {}
                                // XX-Large devices (xxl)
                                @media (min-width: $xxl) {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//  Адаптив поиска
.mobile_search {
    display: block;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
    display: block;
    padding: 10px 12px 16px;

    // Medium devices (md)
    @media (min-width: $md) {
        padding-left: 16px;
        padding-right: 16px;
        // display: none;
    }

    // Форма
    form.mobile {
        position: relative;
        //Внутренняя настройка
        .inner {
            display: flex;
            height: 48px;
            width: 100%;
            align-items: center;
            display: flex;
            flex-grow: 1;
            vertical-align: middle;
            width: auto;
            border-radius: 8px;
            background: #f5f6f9;
            padding-left: 10px;
            // Строка поиска
            .label {
                flex-grow: 1;
                position: relative;
                display: inline-block;
                margin: 0;
                padding: 0;
                height: 48px;
                border: radius 8px;

                &::placeholder {
                    .inner {
                        color: #9697a1;
                    }
                }

                input {
                    // Подсвечивается что тут ошибка
                    // webkit-appearance: none;
                    appearance: none;
                    background: none;
                    border: 0;
                    border-radius: 8px;
                    box-sizing: border-box;
                    font-size: 16px;
                    height: 48px;
                    line-height: $text;
                    outline: none;
                    padding: 0 32px 0 16px;
                    transition: background 0.3s ease-in-out;
                    width: 100%;
                    padding-left: 8px;

                    &:-ms-clear {
                        display: none;
                    }
                    &:-moz-placeholder {
                        color: #9697a1;
                    }
                    &:-ms-input-placeholder {
                        color: #9697a1;
                    }
                    &:focus {
                        background: #ededed;
                    }
                }
            }
        }
    }
}
