// Родительский элемент с категориями
.parent {
    margin-bottom: 1rem;
    position: relative;

    @media (max-width: 767.9px) {
        display: none;
    }

    // Лист с категориями
    .categories_list {
        padding: 21px 0 32px;
        height: 64px;
        overflow: hidden;
        display: contents;

        // Сами категории
        .category {
            color: #3d3f56;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            line-height: $text;
            margin: 8px 32px 8px 0;
            text-decoration: none;

            &:first-child {
                font-weight: 500;
            }

            &:focus,
            &:hover {
                color: $hoverColor;
                outline: none;
            }

            &:focus .menu,
            &:hover .menu {
                fill: $hoverColor;
            }
        }

        // Выпадающая менюшка
        .menu {
            margin-right: 7px;
        }
    }
}
