// Контейнер товар для оформления заказа
.checkout_item {
    // Вклад
    .tab {
        display: block;
        margin-bottom: 8px;
        margin-right: 8px;
        min-height: 100%;
        position: relative;
        // Адптив

        // Small devices (sm)
        @media (min-width: $sm) {
            display: flex;
            margin: 0 15px 15px 0;
        }
        // Medium devices (md)
        @media (min-width: $md) {}
        // Large devices (lg)
        @media (min-width: $lg) {}
        // X-Large devices (xl)
        @media (min-width: $xl) {}
        // XX-Large devices (xxl)
        @media (min-width: $xxl) {}

        // Блок доставки
        .block_delivery {
            border: 1px solid rgba(0, 0, 0, 0.08);
            border-radius: 5px;
            box-sizing: border-box;
            color: #2d2f43;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            height: 100%;
            outline: none;
            padding: 8px 20px;
            user-select: none;
            align-items: flex-start;
            text-align: left;
            justify-content: flex-start;

            /// Родительский класс
            .child {
                margin: 1px 0;
                margin: 3px auto;
                // Адптив
                // Small devices (sm)
                @media (min-width: $sm) {}
                // Medium devices (md)
                @media (min-width:$md) {
                    margin: 3px auto;
                }
                // Large devices (lg)
                @media (min-width: $lg) {}
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}
            }
            // Иконка
            .icon {
                align-items: center;
                display: flex;
                height: 23px;
                justify-content: center;
                left: 30px;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);

                // Адптив

                // Small devices (sm)}
                @media (min-width: $sm) {
                    position: static;
                }
                // Medium devices (md)
                @media (min-width: $md) {}
                // Large devices (lg)
                @media (min-width: $lg) {}
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}
            }
            //Заголовок
            .title {
                font-size: 14px;
                font-weight: 500;
                white-space: normal;

                // Адаптив
                
                // Small devices (sm)
                @media (min-width: $sm) {
                    white-space: nowrap;
                }
                // Medium devices (md)
                @media (min-width: $md) {}
                // Large devices (lg)
                @media (min-width: $lg) {}
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}
            }
            // Уведомление
            .notice {
                margin-top: 5px;
                color: #9697a1;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                // Адптив
                // Small devices (sm)
                @media (min-width: $sm) {
                    white-space: normal;
                }
                // Medium devices (md)
                @media (min-width: $md) {}
                // Large devices (lg)
                @media (min-width: $lg) {}
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}
            }

            // Акцент
            .accent {
                color: $mainColor;
            }
        }
    }
}
