// Контейнер особенности
.espaecially_wrap {
    margin-left: auto;
    margin-right: auto;
    padding-left: 6px;
    padding-right: 6px;
    // Верхний контейнер
    .header {
        align-items: baseline;
        color: #2d2f43;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 16px;
        //заголовок
        .title {
            display: block;
            flex-grow: 1;
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    // Элементы
    .inners {
        display: inline-block;
        flex-wrap: wrap;
    }
}
