// Контейнер особенности
.espaecially_wrap {
    margin: auto;
    padding: 0 6px;
    // Верхний контейнер
    .header {
        align-items: baseline;
        color: #2d2f43;
        display: flex;
        margin-bottom: 16px;
        //заголовок
        .title {
            display: block;
            flex-grow: 1;
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    // Элементы
    .inners {
        display: inline-block;
        flex-wrap: wrap;
    }
}
