// обертка ветрины
.showcase_wrap {
    padding-top: 25px;
    align-items: stretch;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin: -16px 0 0 -16px;

    // Обертка банера
    .bannerWrap {
        display: inline-flex;
        background-color: #e262b7;
        min-height: 240px;
        align-items: stretch;
        border-radius: 8px;
        box-sizing: border-box;
        overflow: hidden;
        max-height: 765px;
        margin-left: 1%;

        // Адаптив
        @media (min-width: 1280px) {
            flex-basis: calc(33.33333% - 16.1px);
            flex-grow: 0;
            flex-shrink: 0;
            max-width: calc(33.33333% - 16.1px);
            width: calc(33.33333% - 16.1px);
            min-height: auto;
        }

        @media (min-width: 840px) {
            min-height: auto;
        }

        @media (max-width:849px) {
            font-size: 14px;
        }

        @media (max-width:768px) {
            display: none;
        }
        @media (min-width: 600px) {
            flex-basis: calc(50% - 17%);
            flex-grow: 0;
            flex-shrink: 0;
            min-height: auto;
            margin-left: 1%;
        }
        
        // Обертка контента
        a.wrapper_content {
            display: flex;
            overflow: hidden;
            position: relative;
            height: 100%;
            width: 100%;
            padding: 10px 16px 16px;
            flex-direction: column;

            // Обертка картинки
            .image_wrap {
                justify-content: center;
                padding-top: 100%;
                position: relative;

                // Блок с картинкой
                .block_contain {
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;

                    // картинка
                    img.image {
                        background-repeat: no-repeat;
                        display: inline-block;
                        height: 100%;
                        transform-origin: center center;
                        transition: transform 0.3s ease-in-out;
                        width: 100%;
                        padding: 50px;
                    }
                }
            }

            // обертка для заголовка и текста
            .sideContent {
                color: #fff;
                margin: 0 35px;
                text-align: center;

                // Заголовок
                .title {
                    max-height: 96px;
                    font-size: 40px;
                    line-height: 48px;
                }

                // Дополнение
                .subtitle,
                .title {
                    display: block;
                    display: -webkit-box;
                    position: relative;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: -2px;
                    padding-bottom: 2px;
                    padding-bottom: 2px;
                }

                // Текст под заголовком
                .subtitle {
                    max-height: 48px;
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
        // клик
        .clickable {
            cursor: pointer;
            text-decoration: none;
        }
    }
    // Обертка для продуркта с правой стороны
    .productsWrap {
        flex-grow: 0;
        flex-shrink: 0;
        max-width: calc(66.66667% - 16.1px);
        width: calc(66.66667% - 16.1px);
        box-sizing: border-box;
        margin: 16px 0 0 16px;
        padding-left: 20px;

        // Адапти
        @media (max-width: 1300px) {
            margin: 0;
        }

        @media (max-width:768px) {
            max-width: 100%;
            width: 100%;
        }

        @media (max-width:390px) {
            width: 100%;
            min-width: 100%;
        }

        // Заголовок
        .header {
            align-items: baseline;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 16px;

            // Титульная часть
            a.title {
                display: block;
                flex-grow: 1;
                font-size: 24px;
                font-weight: 500;
                line-height: 28px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-decoration: none;
                color: #2d2f43;

                &:hover {
                    color: $hoverColor;
                }
            }

            // Действие
            a.action {
                background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSAxbDYgNi02IDYiIHN0cm9rZT0iI0IyQjNDMiIgZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9zdmc+)
                    no-repeat 100%;
                box-sizing: border-box;
                cursor: pointer;
                flex: 0 $mc;
                font-size: 14px;
                line-height: 16px;
                margin-left: 24px;
                padding-right: 16px;
                text-decoration: none;
                color: #2d2f43;

                &:hover {
                    color: $hoverColor;
                }
            }
        }

        // Продукт
        .products {
            display: flex;
            flex-wrap: wrap;
            margin: -16px 0 0 -16px;
        }
    }
}
