#checkout_page {
    margin-top: 10px;
    .form_header {
        box-sizing: border-box;
        max-width: 100%;
        margin-bottom: 12px;

        @media (min-width: 768px) {
            margin-bottom: 16px;
        }

        .inner {
            box-sizing: border-box;
            max-width: 1300px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 6px;
            padding-right: 6px;

            
            -ms-flex-align: center;
            align-items: center;
            box-sizing: border-box;
            color: #2d2f43;
            display: -ms-flexbox;
            display: flex;
            margin: 4px auto 8px;

            @media (min-width: 576px) {
                padding-left: 6px;
                padding-right: 6px;
            }
            @media (min-width: 768px) {
                padding-left: 8px;
                padding-right: 8px;
            }
            @media (min-width: 992px) {
                padding-left: 8px;
                padding-right: 8px;
            }
            @media (min-width: 1300px) {
                padding-left: 8px;
                padding-right: 8px;
            }
            @media (min-width: 768px) {
                padding-left: 8px;
                padding-right: 8px;
            }
        }
    }

    .form_body {
        box-sizing: border-box;
        max-width: 100%;
        padding-bottom: 22px;
        margin: 0 auto;
        padding-left: 6px;
        padding-right: 6px;

        @media (min-width: 576px) {
            padding-left: 6px;
            padding-right: 6px;
        }

        @media (min-width: 768px) {
            margin-bottom: 16px;
            padding-left: 8px;
            padding-right: 8px;
        }
        @media (min-width: 992px) {
            padding-left: 8px;
            padding-right: 8px;
        }
        @media (min-width: 1300px) {
            padding-left: 8px;
            padding-right: 8px;
        }
        @media (min-width: 768px) {
            padding-left: 8px;
            padding-right: 8px;
        }

        .content {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;

            @media(min-width:768px) {
                -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
            }

            .items {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-direction: column;
                flex-direction: column;
                -ms-flex-negative: 0;
                flex-shrink: 0;
                background: #fff;
                border-radius: 6px;

                @media(max-width:767.9px) {
                    margin-top: 24px;
                    margin-bottom: 24px;
                }

                @media(max-width:767.9px)and (max-width:575.9px) {
                    margin-top: 16px;
                    margin-bottom: 16px;
                }
                .header {
                    -ms-flex-align: center;
                    align-items: center;
                    border-bottom: 1px solid #f2f3f7;
                    color: #2d2f43;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-direction: row;
                    flex-direction: row;
                    font-size: 18px;
                    font-weight: 500;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    line-height: 22px;
                    padding: 24px;
                    margin: 0;

                    @media(max-width:575.9px) {
                        padding: 16px;
                    }
                }
                .item {
                    padding-left: 24px;
                    padding-bottom: 24px;
                    padding-top: 24px;
                    overflow: auto;
                    -webkit-overflow-scrolling: touch;
                    -ms-overflow-style: -ms-autohiding-scrollbar;

                    @media(max-width:575.9px) {
                        padding-left: 16px;
                        padding-bottom: 16px;
                        padding-top: 16px;
                    }
                }
                .pricing {
                    border-top: 1px solid rgba(0, 0, 0, .06);
                    padding: 24px;

                    @media(max-width:575.9px) {
                        padding: 16px;
                    }

                    table {
                        border: 0;
                        border-collapse: collapse;
                        color: #2d2f43;
                        width: 100%;
                        tbody {
                            .item {
                                color: #2d2e44;
                                font-size: 14px;
                                letter-spacing: 0;
                                line-height: 16px;

                                .header_item {
                                    text-align: left;
                                    padding: 6px 0;
                                }

                                .strong {
                                    @media(min-width:768px) {
                                        font-size: 18px;
                                        line-height: 22px;
                                    }
                                }

                                .value {
                                    font-size: 18px;
                                    font-weight: 500;
                                    line-height: 22px;
                                }
                            }
                        }
                    }
                }
            }

            .params__overley {
                border-radius: inherit;
                position: relative;
                
                @media(max-width:767.9px) {
                    padding-bottom: 24px;
                }

                @media(max-width:767.9px)and (max-width:575.9px) {
                    padding-bottom: 16px;
                }
                @media(min-width:768px) { 
                    box-sizing: border-box;
                    margin-right: 16px;
                    -ms-flex-preferred-size: 100%;
                    flex-basis: 100%;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                }

                .delivery {
                    background: #fff;
                    border-radius: 6px;
                    padding: 24px;
                    @media(max-width:575.9px) {
                        padding: 16px;
                    }
                    .header_title {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 22px;
                        margin-bottom: 8px;
                        @media(max-width:575.9px) {
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }

                    .validationContainer {
                        margin: 0 -24px;
                        padding: 0 24px;
                        transition: background-color .1s ease-in-out;
                        @media(max-width:575.9px) {
                            margin: 0 -16px;
                            padding: 0 16px;
                        }

                        .tabs {
                            display: -ms-flexbox;
                            display: flex;
                            -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                            margin: 0 -15px 9px 0;
                            padding-top: 8px;

                            @media(max-width:575.9px) {
                                -ms-flex-direction: column;
                                flex-direction: column;
                                -ms-flex-pack: stretch;
                                justify-content: stretch;
                                margin-bottom: 1px;
                                margin-right: -8px;
                            }
                        }

                        .errorMessage {
                            font-size: 14px;
                            line-height: 16px; 
                            margin-top: 8px;
                            padding-bottom: 8px;

                            @media(min-width:576px) {
                                margin-top: -16px;
                            }
                        }
                    }

                    .title {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 22px;
                        margin-bottom: 16px;
                        margin-top: 16px;
                        @media(max-width:575.9px) {
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                    .text {
                        color: #8e90a7;
                        font-size: 14px;
                    }

                    .controls {
                        margin-top: 5px;

                        .edit {
                            color: $mainColor;
                            cursor: pointer;
                            font-size: 14px;
                            font-weight: 500;
                            :hover {
                                color: $mainColor;
                            }
                            .icon {
                                display: inline-block;
                                height: .8em;
                                margin-left: .8ex;
                                position: relative;
                                top: -.1em;
                                vertical-align: middle;
                            }
                        }
                    }
                }

                .payment_item {
                    background: #fff;
                    border-radius: 6px;
                    padding: 24px;
                    @media(max-width:575.9px) {
                        padding: 16px;
                    }
                    .header_title {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 22px;
                        margin-bottom: 8px;
                        @media(max-width:575.9px) {
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }

                    .validationContainer {
                        margin: 0 -24px;
                        padding: 0 24px;
                        transition: background-color .1s ease-in-out;
                        @media(max-width:575.9px) {
                            margin: 0 -16px;
                            padding: 0 16px;
                        }

                        .tabs {
                            display: -ms-flexbox;
                            display: flex;
                            -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                            margin: 0 -15px 9px 0;
                            padding-top: 8px;

                            @media(max-width:575.9px) {
                                -ms-flex-direction: column;
                                flex-direction: column;
                                -ms-flex-pack: stretch;
                                justify-content: stretch;
                                margin-bottom: 1px;
                                margin-right: -8px;
                            }
                        }

                        .errorMessage {
                            font-size: 14px;
                            line-height: 16px; 
                            margin-top: 8px;
                            padding-bottom: 8px;

                            @media(min-width:576px) {
                                margin-top: -16px;
                            }
                        }
                    }

                    .stickyOnMobile {
                        @media(max-width:767.9px) {
                            position: sticky;
                            bottom: 24px;
                        }
                        
                        @media(max-width:767.9px)and (max-width:575.9px) {
                            bottom: 16px;
                        }

                        .overlay{
                            border-radius: inherit;
                            position: relative;
                            border-radius: inherit;
                            transition: opacity .3s ease-out;

                            .mainButton {
                                font-size: 16px;
                                margin-top: 16px;

                                button.button_payment {
                                    -ms-flex-align: center;
                                    align-items: center;
                                    box-sizing: border-box;
                                    cursor: pointer;
                                    display: -ms-inline-flexbox;
                                    display: inline-flex;
                                    font-size: inherit;
                                    -ms-flex-pack: center;
                                    justify-content: center;
                                    line-height: 1.3em;
                                    position: relative;
                                    text-align: center;
                                    text-decoration: none;
                                    transition: .1s ease;
                                    -webkit-user-select: none;
                                    -moz-user-select: none;
                                    -ms-user-select: none;
                                    user-select: none;
                                    background: $mainColor;
                                    border: 1px solid $mainColor;
                                    color: #fff;
                                    padding: .735em 1em;
                                    display: block;
                                    width: 80%;
                                    margin: 0 auto;
                                    border-radius: .38em;

                                    :focus {
                                        outline: none;
                                    }

                                    .children {
                                        display: block;
                                        max-width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}