// Контейнер ошибки контента
.checkout_item {
    margin-top: 10px;
    padding-right: 24px;
    align-items: flex-start;
    color: #2d2f43;
    display: flex;
    position: relative;
    // Адаптив
    @media (max-width: 575.9px) {
        padding-right: 16px;
    }

    @media (max-width: 575.9px) {
        margin-top: 16px;
    }
    // Контейнер для фото
    .photo {
        background: rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        height: 95px;
        min-width: 95px;
        position: relative;
        width: 95px;
    }
    // Фото для контента
    img.img_phono {
        background-repeat: no-repeat;
        display: inline-block;
        @include contain;
        mix-blend-mode: multiply;
    }
    // Контента
    .content_item {
        flex-grow: 1;
        margin-left: 12px;
        //Имя контента
        .nameText {
            font-size: 14px;
            max-height: 3em;
        }
        // Количество
        .quantity {
            margin-top: 6px;
            white-space: nowrap;
        }
        // Контейнер с ценой
        .price_formated {
            margin-top: 6px;
            font-size: 16px;
            font-weight: 500;
            // Скрытая часть
            .hidden {
                display: none;
            }
        }
    }
}
