// Страница оформления заказа
#checkout_page {
    margin-top: 10px;
    background-color: $whiteGrey;
    // Шапка
    .form_header {
        box-sizing: border-box;
        max-width: 100%;
        margin-bottom: 12px;

        // Адаптив
        @media (min-width: 768px) {
            margin-bottom: 16px;
        }

        // Внутренняя часть
        .inner {
            box-sizing: border-box;
            max-width: 1300px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 6px;
            padding-right: 6px;
            align-items: center;
            box-sizing: border-box;
            color: #2d2f43;
            display: flex;
            margin: 4px auto 8px;

            // Адаптив
            @media (min-width: 576px) {
                padding-left: 6px;
                padding-right: 6px;
            }

            @media (min-width: 768px) {
                padding-left: 8px;
                padding-right: 8px;
            }

            @media (min-width: 992px) {
                padding-left: 8px;
                padding-right: 8px;
            }

            @media (min-width: 1300px) {
                padding-left: 8px;
                padding-right: 8px;
            }

            @media (min-width: 768px) {
                padding-left: 8px;
                padding-right: 8px;
            }
        }
    }

    // Контент
    .body_content {
        box-sizing: border-box;
        max-width: 100%;
        padding-bottom: 22px;
        margin: 0 auto;
        padding-left: 6px;
        padding-right: 6px;

        // Адаптив
        @media (min-width: 576px) {
            padding-left: 6px;
            padding-right: 6px;
        }

        @media (min-width: 768px) {
            margin-bottom: 16px;
            padding-left: 15px;
            padding-right: 15px;
        }

        @media (min-width: 992px) {
            padding-left: 8px;
            padding-right: 8px;
        }

        @media (min-width: 1300px) {
            padding-left: 8px;
            padding-right: 8px;
        }

        // контент
        .content {
            display: flex;
            flex-direction: column-reverse;

            // Адаптив
            @media (min-width: 768px) {
                flex-direction: row-reverse;
            }

            // Товары
            .items {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                background: #fff;
                border-radius: 6px;

                // Адаптив
                @media (max-width: 767.9px) {
                    margin-top: 24px;
                    margin-bottom: 24px;
                }

                @media (max-width: 767.9px) and (max-width: 575.9px) {
                    margin-top: 16px;
                    margin-bottom: 16px;
                }

                //Заголовок товара
                .header {
                    align-items: center;
                    border-bottom: 1px solid #f2f3f7;
                    color: #2d2f43;
                    display: -ms-flexbox;
                    display: flex;
                    flex-direction: row;
                    font-size: 18px;
                    font-weight: 500;
                    justify-content: space-between;
                    line-height: 22px;
                    padding: 24px;
                    margin: 0;

                    // Адаптив
                    @media (max-width: 575.9px) {
                        padding: 16px;
                    }
                }

                // Товар
                .item {
                    padding-left: 24px;
                    padding-bottom: 24px;
                    padding-top: 24px;
                    overflow: auto;

                    // Адаптив
                    @media (max-width: 575.9px) {
                        padding-left: 16px;
                        padding-bottom: 16px;
                        padding-top: 16px;
                    }
                }

                //цена
                .pricing {
                    border-top: 1px solid rgba(0, 0, 0, 0.06);
                    padding: 24px;

                    // Адаптив
                    @media (max-width: 575.9px) {
                        padding: 16px;
                    }

                    table {
                        border: 0;
                        border-collapse: collapse;
                        color: #2d2f43;
                        width: 100%;

                        tbody {
                            // Обертка
                            .block_item {
                                color: #2d2e44;
                                font-size: 14px;
                                letter-spacing: 0;
                                line-height: 16px;

                                // Заголовок до ставки
                                .header_item {
                                    text-align: left;
                                    padding: 6px 0;
                                }

                                // Итог
                                .strong {
                                    // Адаптив
                                    @media (min-width: 768px) {
                                        font-size: 18px;
                                        line-height: 22px;
                                    }
                                }

                                // Цена
                                .value {
                                    font-size: 18px;
                                    font-weight: 500;
                                    line-height: 22px;
                                }
                            }
                        }
                    }
                }
            }

            .params_overley {
                border-radius: inherit;
                position: relative;

                // Адаптив
                @media (max-width: 767.9px) {
                    padding-bottom: 24px;
                }

                @media (max-width: 767.9px) and (max-width: 575.9px) {
                    padding-bottom: 16px;
                }

                @media (min-width: 768px) {
                    box-sizing: border-box;
                    margin-right: 16px;
                    flex-basis: 100%;
                    flex-grow: 1;
                }

                // Доставка
                .delivery {
                    background: #fff;
                    border-radius: 6px;
                    padding: 24px;
                    margin-bottom: 20px;

                    // Адаптив
                    @media (max-width: 575.9px) {
                        padding: 16px;
                    }

                    //Имя доставка
                    .header_title {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 22px;
                        margin-bottom: 8px;

                        // Адаптив
                        @media (max-width: 575.9px) {
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }

                    // Способ доставки
                    .delivery_method_items {
                        margin: 0 -24px;
                        padding: 0 24px;
                        transition: background-color 0.1s ease-in-out;

                        // Адаптив
                        @media (max-width: 575.9px) {
                            margin: 0 -16px;
                            padding: 0 16px;
                        }

                        // Блок элемента
                        .block_item {
                            display: -ms-flexbox;
                            display: flex;
                            flex-wrap: wrap;
                            margin: 0 -15px 9px 0;
                            padding-top: 8px;

                            // Адаптив
                            @media (max-width: 575.9px) {
                                flex-direction: column;
                                justify-content: stretch;
                                margin-bottom: 1px;
                                margin-right: -8px;
                            }
                        }
                    }

                    // Заголовок
                    .title {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 22px;

                        // Адаптив
                        @media (max-width: 575.9px) {
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }

                    //Текст
                    .text {
                        color: #8e90a7;
                        font-size: 14px;
                    }

                    // Блок редактирования
                    .edit_controls {
                        margin-top: 5px;

                        // редактирование
                        .edit {
                            color: $mainColor;
                            cursor: pointer;
                            font-size: 14px;
                            font-weight: 500;

                            :hover {
                                color: $mainColor;
                            }

                            .icon {
                                display: inline-block;
                                height: 0.8em;
                                margin-left: 0.8ex;
                                position: relative;
                                top: -0.1em;
                                vertical-align: middle;
                            }
                        }
                    }
                }

                // Блок товара
                .payment_item {
                    background: #fff;
                    border-radius: 6px;
                    padding: 24px;

                    // Адаптив
                    @media (max-width: 575.9px) {
                        padding: 16px;
                    }

                    // Заголовок товара
                    .header_title {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 22px;
                        margin-bottom: 8px;

                        // Адаптив
                        @media (max-width: 575.9px) {
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }

                    .validation_tabs {
                        margin: 0 -24px;
                        padding: 0 24px;
                        transition: background-color 0.1s ease-in-out;

                        // Адаптив
                        @media (max-width: 575.9px) {
                            margin: 0 -16px;
                            padding: 0 16px;
                        }

                        // Тут будет товар
                        .tabs {
                            display: flex;
                            flex-wrap: wrap;
                            margin: 0 -15px 9px 0;
                            padding-top: 8px;

                            // Адаптив
                            @media (max-width: 575.9px) {
                                flex-direction: column;
                                justify-content: stretch;
                                margin-bottom: 1px;
                                margin-right: -8px;
                            }
                        }
                    }

                    .sticky_on_mobile {
                        // Адаптив
                        @media (max-width: 767.9px) {
                            position: sticky;
                            bottom: 24px;
                        }

                        // Адаптив
                        @media (max-width: 767.9px) and (max-width: 575.9px) {
                            bottom: 16px;
                        }

                        // Оверлей
                        .overlay {
                            border-radius: inherit;
                            position: relative;
                            border-radius: inherit;
                            transition: opacity 0.3s ease-out;

                            // Контейнер кнопки
                            .mainButton {
                                font-size: 16px;
                                margin-top: 16px;
                                display: flex;
                                margin: 0 auto;
                                width: 60%;
                            }
                        }
                    }
                }
            }
        }
    }
}
