// Страница оформления заказа
#checkout_page {
    margin-top: 10px;
    background-color: $whiteGrey;
    // Шапка
    .form_header {
        box-sizing: border-box;
        max-width: 100%;
        margin-bottom: 12px;

        // Внутренняя часть
        .inner {
            box-sizing: border-box;
            max-width: 1300px;
            margin-left: auto;
            margin-right: auto;
            padding: 0 6px;
            align-items: center;
            box-sizing: border-box;
            color: #2d2f43;
            display: flex;
            margin: 4px auto 8px;

            // Small devices (sm)
            @media (min-width: $sm) {
                padding: 10px 20px;
            }

            // Medium devices (md)
            @media (min-width: $md) {
                margin-bottom: 16px;
                padding: 10px 15px;
            }

            // Large devices (lg)
            @media (min-width: $lg) {
                padding: 10px 20px;
            }

            // X-Large devices (xl)
            @media (min-width: $xl) {
                padding: 10px 30px;
            }

            // XX-Large devices (xxl)
            @media (min-width: $xxl) {}

        }
    }

    // Контент
    .body_content {
        box-sizing: border-box;
        max-width: 100%;
        padding-bottom: 22px;
        margin: $mc;
        padding: 10px 6px;

        // Адаптив

        // Small devices (sm)
        @media (min-width: $sm) {
            padding: 10px 20px;
        }
        // Medium devices (md)
        @media (min-width: $md) {
            margin-bottom: 16px;
            padding: 10px 15px;
        }
        // Large devices (lg)
        @media (min-width: $lg) {
            padding: 10px 20px;
        }
        // X-Large devices (xl)
        @media (min-width: $xl) {
            padding: 10px 30px;
        }

        // XX-Large devices (xxl)
        @media (min-width: $xxl) {}

        // контент
        .content {
            display: flex;
            flex-direction: column-reverse;

            // Адаптив

            
        // Small devices (sm)
        @media (min-width: $sm) {}
        // Medium devices (md)
        @media (min-width: $md) {}
        // Large devices (lg)
        @media (min-width: $lg) {
            flex-direction: row-reverse;
        }
        // X-Large devices (xl)
        @media (min-width: $xl) {}

        // XX-Large devices (xxl)
        @media (min-width: $xxl) {}

            // Товары
            .items {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                background: #fff;
                border-radius: 6px;
                margin-top: 16;

                // Адаптив
                
                // Small devices (sm)
                @media (min-width: $sm) {}
                // Medium devices (md)
                @media (min-width: $md) {}
                // Large devices (lg)
                @media (min-width: $lg) {
                    margin-top: 0;
                }

                //Заголовок товара
                .header {
                    align-items: center;
                    border-bottom: 1px solid #f2f3f7;
                    color: #2d2f43;
                    display: -ms-flexbox;
                    display: flex;
                    flex-direction: row;
                    font-size: $text;
                    font-weight: 500;
                    justify-content: space-between;
                    line-height: 22px;
                    padding: 24px;
                    margin: 0;

                    // Адаптив
                    @media (min-width: $sm) {
                        // padding: 16px;
                    }
                }

                // Товар
                .item {
                    padding-left: 24px;
                    padding-bottom: 24px;
                    padding-top: 24px;
                    overflow: auto;
                    margin-left: 0;
                    margin-top: 16px;

                    // Адаптив
                    @media (min-width: $sm) {
                        padding: 16px 16px 16px;
                    }
                    // Medium devices (md)
                    @media (min-width: $md) {}
                    // Large devices (lg)
                    @media (min-width: $lg) {
                        margin-left: 16px;
                        margin-top: 0;
                    }
                    // X-Large devices (xl)
                    @media (min-width: $xl) {}

                    // XX-Large devices (xxl)
                    @media (min-width: $xxl) {}
                }

                //цена
                .pricing {
                    border-top: 1px solid rgba(0, 0, 0, 0.06);
                    padding: 24px;

                    // Адаптив
                    // Small devices (sm)
                    @media (min-width: $sm) {
                        padding: 16px;
                    }
                    // Medium devices (md)
                    @media (min-width: $md) {}
                    // Large devices (lg)
                    @media (min-width: $lg) {}
                    // X-Large devices (xl)
                    @media (min-width: $xl) {}

                    // XX-Large devices (xxl)
                    @media (min-width: $xxl) {}

                    table {
                        border: 0;
                        border-collapse: collapse;
                        color: #2d2f43;
                        width: 100%;

                        tbody {
                            // Обертка
                            .block_item {
                                color: #2d2e44;
                                font-size: 14px;
                                letter-spacing: 0;
                                line-height: 16px;

                                // Заголовок до ставки
                                .header_item {
                                    text-align: left;
                                    padding: 6px 0;
                                }

                                // Итог
                                .strong {
                                    // Адаптив
                                    // Small devices (sm)
                                    @media (min-width: $sm) {}
                                    // Medium devices (md)
                                    @media (min-width: $md) {
                                        font-size: $text;
                                        line-height: 22px;
                                    }
                                    // Medium devices (md)
                                    @media (min-width: $md) {}
                                    // Large devices (lg)
                                    @media (min-width: $lg) {}
                                    // X-Large devices (xl)
                                    @media (min-width: $xl) {}
                                    
                                    // XX-Large devices (xxl)
                                    @media (min-width: $xxl) {}
                                }

                                // Цена
                                .value {
                                    font-size: $text;
                                    font-weight: 500;
                                    line-height: 22px;
                                }
                            }
                        }
                    }
                }
            }

            .params_overley {
                border-radius: inherit;
                position: relative;
                margin-right: 0;

                // Адаптив
                // Small devices (sm)
                @media (min-width: $sm) {}
                // Medium devices (md)
                @media (min-width: $md) {
                    box-sizing: border-box;
                    flex-basis: 100%;
                    flex-grow: 1;
                }
                // Large devices (lg)
                @media (min-width: $lg) {
                    margin-right: 16px;
                }
                // X-Large devices (xl)
                @media (min-width: $xl) {}
                
                // XX-Large devices (xxl)
                @media (min-width: $xxl) {}

                // Доставка
                .delivery {
                    background-color: #fff;
                    border-radius: 6px;
                    margin-bottom: 20px;
                    padding: 16px;

                    // Адаптив
                    // Medium devices ($sm)
                    @media (min-width: $sm) {
                        padding: 24px;
                    }
                    // Medium devices (md)
                    @media (min-width: $md) {}
                    // Large devices (lg)
                    @media (min-width: $lg) {}
                    // X-Large devices (xl)
                    @media (min-width: $xl) {}
                    
                    // XX-Large devices (xxl)
                    @media (min-width: $xxl) {}

                    //Имя доставка
                    .header_title {
                        font-size: 14px;
                        line-height: 16px;
                        font-weight: 500;
                        line-height: 22px;
                        margin-bottom: 8px;

                        // Адаптив
                        // Medium devices ($sm)
                        @media (min-width: $sm) {
                            font-size: $text;
                            line-height: 22px;
                        }
                        // Medium devices (md)
                        @media (min-width: $md) {}
                        // Large devices (lg)
                        @media (min-width: $lg) {}
                        // X-Large devices (xl)
                        @media (min-width: $xl) {}
                        
                        // XX-Large devices (xxl)
                        @media (min-width: $xxl) {}
                    }

                    // Способ доставки
                    .delivery_method_items {
                        margin: 0 -24px;
                        padding: 0 24px;
                        transition: background-color 0.1s ease-in-out;

                        // Адаптив
                        // Medium devices ($sm)
                        @media (min-width: $sm) {
                            margin: 0 -16px;
                            padding: 0 16px;
                        }
                        // Medium devices (md)
                        @media (min-width: $md) {}
                        // Large devices (lg)
                        @media (min-width: $lg) {}
                        // X-Large devices (xl)
                        @media (min-width: $xl) {}
                        
                        // XX-Large devices (xxl)
                        @media (min-width: $xxl) {}

                        // Блок элемента
                        .block_item {
                            display: flex;
                            flex-wrap: wrap;
                            margin: 0 -15px 9px 0;
                            padding-top: 8px;

                            // Адаптив
                            // Medium devices ($sm)
                            @media (min-width: $sm) {
                                justify-content: stretch;
                                margin-bottom: 1px;
                                margin-right: -8px;
                            }
                            // Medium devices (md)
                            @media (min-width: $md) {}
                            // Large devices (lg)
                            @media (min-width: $lg) {}
                            // X-Large devices (xl)
                            @media (min-width: $xl) {}
                            
                            // XX-Large devices (xxl)
                            @media (min-width: $xxl) {}
                        }
                    }

                    // Заголовок
                    .title {
                        font-size: $text;
                        font-weight: 500;
                        line-height: 22px;

                        // Адаптив
                        // Medium devices ($sm)
                        @media (min-width: $sm) {
                            font-size: 14px;
                            line-height: 16px;
                        }
                        // Medium devices (md)
                        @media (min-width: $md) {}
                        // Large devices (lg)
                        @media (min-width: $lg) {}
                        // X-Large devices (xl)
                        @media (min-width: $xl) {}
                        
                        // XX-Large devices (xxl)
                        @media (min-width: $xxl) {}
                    }

                    //Текст
                    .text {
                        color: #8e90a7;
                        font-size: 14px;
                    }

                    // Блок редактирования
                    .edit_controls {
                        margin-top: 5px;

                        // редактирование
                        .edit {
                            color: $mainColor;
                            cursor: pointer;
                            font-size: 14px;
                            font-weight: 500;

                            :hover {
                                color: $mainColor;
                            }
                            // Картинка
                            .icon {
                                display: inline-block;
                                height: 0.8em;
                                margin-left: 0.8ex;
                                position: relative;
                                top: -0.1em;
                                vertical-align: middle;
                            }
                        }
                    }
                }

                // Блок товара
                .payment_item {
                    background: #fff;
                    border-radius: 6px;
                    padding: 16px;

                    // Адаптив
                    // Medium devices ($sm)
                    @media (min-width: $sm) {
                        padding: 24px;
                    }
                    // Medium devices (md)
                    @media (min-width: $md) {}
                    // Large devices (lg)
                    @media (min-width: $lg) {}
                    // X-Large devices (xl)
                    @media (min-width: $xl) {}
                    
                    // XX-Large devices (xxl)
                    @media (min-width: $xxl) {}

                    // Заголовок товара
                    .header_title {
                        font-size: 14px;
                        line-height: 16px;
                        font-size: $text;
                        font-weight: 500;
                        line-height: 22px;
                        margin-bottom: 8px;

                        // Адаптив
                        // Medium devices ($sm)
                        @media (min-width: $sm) {
                            font-size: $text;
                            line-height: 22px;
                        }
                        // Medium devices (md)
                        @media (min-width: $md) {}
                        // Large devices (lg)
                        @media (min-width: $lg) {}
                        // X-Large devices (xl)
                        @media (min-width: $xl) {}
                        
                        // XX-Large devices (xxl)
                        @media (min-width: $xxl) {}
                    }

                    .validation_tabs {
                        margin: 0 -24px;
                        padding: 0 24px;
                        transition: background-color 0.1s ease-in-out;

                        // Адаптив

                        // Тут будет товар
                        .tabs {
                            display: flex;
                            flex-wrap: wrap;
                            margin: 0 -15px 9px 0;
                            padding-top: 8px;

                            // Адаптив
                            @media (min-width: $sm) {
                                justify-content: stretch;
                                margin-bottom: 1px;
                                margin-right: -8px;
                            }
                            // Medium devices (md)
                            @media (min-width: $md) {}
                            // Large devices (lg)
                            @media (min-width: $lg) {}
                            // X-Large devices (xl)
                            @media (min-width: $xl) {}
                            
                            // XX-Large devices (xxl)
                            @media (min-width: $xxl) {}
                            
                        }
                    }

                    .sticky_on_mobile {
                        position: sticky;
                        bottom: 16px;
                        // Адаптив
                        // Small devices (sm)
                        @media (min-width: $sm) {
                        }
                        @media (min-width: $md) {
                            position: static;
                            bottom: 0;
                        }
                        // Large devices (lg)
                        @media (min-width: $lg) {}
                        // X-Large devices (xl)
                        @media (min-width: $xl) {}
                        
                        // XX-Large devices (xxl)
                        @media (min-width: $xxl) {}

                        // Оверлей
                        .overlay {
                            border-radius: inherit;
                            position: relative;
                            border-radius: inherit;
                            transition: opacity 0.3s ease-out;

                            // Контейнер кнопки
                            .main_button {
                                font-size: 16px;
                                margin-top: 16px;
                                display: flex;
                                margin: $mc;
                                width: 60%;
                            }
                        }
                    }
                }
            }
        }
    }
}
